sgu1_dh sai gon/part01/Flow_Cau_1.json
[{"id":"f9216f9b.dd7ad","type":"meo-esp-in","z":"6f436e7c.86888","name":"8266_2","deviceId":"team09_2","broker":"166d35a9.c7ac9a","x":114.5,"y":362,"wires":[["6c0eabff.0622b4","4ccf7701.7551c8","19fc0de1.ed5e12"]]},{"id":"6c0eabff.0622b4","type":"debug","z":"6f436e7c.86888","name":"","active":true,"console":"false","complete":"true","x":374.5,"y":543,"wires":[]},{"id":"dd4f3a42.290ee8","type":"meo-esp-out","z":"6f436e7c.86888","name":"led_off","deviceId":"team09_2","broker":"166d35a9.c7ac9a","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":true,"F3":false,"F4":false,"F5":false,"x":547.5,"y":108,"wires":[]},{"id":"4ccf7701.7551c8","type":"switch","z":"6f436e7c.86888","name":"","property":"payload.V1","propertyType":"msg","rules":[{"t":"lt","v":"34","vt":"str"},{"t":"gte","v":"34","vt":"str"}],"checkall":"true","outputs":2,"x":342.5,"y":210,"wires":[["dd4f3a42.290ee8"],["6ab59756.064ed8"]]},{"id":"6ab59756.064ed8","type":"meo-esp-out","z":"6f436e7c.86888","name":"led_on","deviceId":"team09_2","broker":"166d35a9.c7ac9a","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":547.5,"y":272,"wires":[]},{"id":"7516fc49.39d714","type":"ui_chart","z":"6f436e7c.86888","name":"","group":"6bc52eb7.b65b7","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":693.5,"y":397,"wires":[[],[]]},{"id":"19fc0de1.ed5e12","type":"function","z":"6f436e7c.86888","name":"Function 1","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.topic = \"Temp (C)\";\nmsg1.payload = msg.payload.V1;\nmsg2.topic = \"Humidity (%)\";\nmsg2.payload = msg.payload.V2;\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":390.5,"y":364,"wires":[["7516fc49.39d714"],["7516fc49.39d714"]]},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6bc52eb7.b65b7","type":"ui_group","name":"Group 1","tab":"a7d62e2b.fa69","order":1,"disp":true,"width":6},{"id":"a7d62e2b.fa69","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]