team06_dhCNTT/bai2/NODE_RED_2_2.txt
[{"id":"d26db3c9.57201","type":"mqtt in","z":"7428d23e.2861ec","name":"","topic":"ADMIN_TOTAL","qos":"2","broker":"3952ee4c.60a282","x":260,"y":420,"wires":[["9226fcd.2f1ff"]]},{"id":"9226fcd.2f1ff","type":"ui_text","z":"7428d23e.2861ec","group":"e61c134c.00482","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":510,"y":420,"wires":[]},{"id":"96e8ea2.d6d8918","type":"template","z":"7428d23e.2861ec","name":"SENT","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SENT","output":"str","x":410,"y":320,"wires":[["9226fcd.2f1ff"]]},{"id":"f4ee1c10.a520f","type":"function","z":"7428d23e.2861ec","name":"SEND","func":"var s = msg.payload.Sang;\nvar tr = msg.payload.Trua;\nvar t = msg.payload.Toi;\nvar r = \"78f2dab9\";\nvar mess1={}, \n    mess2={},\n    mess3={},\n    mess4={};\n\nmess1.payload = r;\nmess2.payload = s;\nmess3.payload = tr;\nmess4.payload = t;\n\nreturn [mess1, mess2, mess3, mess4];","outputs":"4","noerr":0,"x":610,"y":240,"wires":[["492d2333.c2c47c","24d62aea.cdc806"],["8a1a1880.6778b8","f19f5ee0.212c5"],["c386e886.52dd18","e3c2a1af.9e991"],["47e71793.835c78","ae8701ad.e935"]]},{"id":"a9656895.3cefd8","type":"ui_form","z":"7428d23e.2861ec","name":"","label":"","group":"e61c134c.00482","order":0,"width":0,"height":0,"options":[{"label":"Sang","value":"Sang","type":"number","required":false},{"label":"Trua","value":"Trua","type":"number","required":false},{"label":"Toi","value":"Toi","type":"number","required":false}],"formValue":{"Sang":"","Trua":"","Toi":""},"payload":"","topic":"","x":170,"y":180,"wires":[["f4ee1c10.a520f","96e8ea2.d6d8918"]]},{"id":"492d2333.c2c47c","type":"mqtt out","z":"7428d23e.2861ec","name":"","topic":"service_rfid","qos":"","retain":"","broker":"3952ee4c.60a282","x":870,"y":160,"wires":[]},{"id":"8a1a1880.6778b8","type":"mqtt out","z":"7428d23e.2861ec","name":"","topic":"service_sang","qos":"","retain":"","broker":"3952ee4c.60a282","x":870,"y":220,"wires":[]},{"id":"c386e886.52dd18","type":"mqtt out","z":"7428d23e.2861ec","name":"","topic":"service_trua","qos":"","retain":"","broker":"3952ee4c.60a282","x":870,"y":280,"wires":[]},{"id":"47e71793.835c78","type":"mqtt out","z":"7428d23e.2861ec","name":"","topic":"service_toi","qos":"","retain":"","broker":"3952ee4c.60a282","x":870,"y":340,"wires":[]},{"id":"24d62aea.cdc806","type":"debug","z":"7428d23e.2861ec","name":"id","active":true,"console":"false","complete":"payload","x":850,"y":80,"wires":[]},{"id":"ae8701ad.e935","type":"debug","z":"7428d23e.2861ec","name":"t","active":true,"console":"false","complete":"payload","x":850,"y":420,"wires":[]},{"id":"f19f5ee0.212c5","type":"debug","z":"7428d23e.2861ec","name":"s","active":true,"console":"false","complete":"payload","x":1010,"y":200,"wires":[]},{"id":"e3c2a1af.9e991","type":"debug","z":"7428d23e.2861ec","name":"tr","active":true,"console":"false","complete":"payload","x":1010,"y":280,"wires":[]},{"id":"e3b53c14.a258b","type":"mqtt out","z":"7428d23e.2861ec","name":"","topic":"DOOR","qos":"2","retain":"","broker":"f0cbeaa0.9219e8","x":930,"y":680,"wires":[]},{"id":"da410512.10e438","type":"mqtt in","z":"7428d23e.2861ec","name":"","topic":"RFID","qos":"1","broker":"f0cbeaa0.9219e8","x":150,"y":660,"wires":[["64c5710d.36474","96191799.073478","1b3061fc.b92ffe"]]},{"id":"ca6e1cc6.daa1a","type":"debug","z":"7428d23e.2861ec","name":"rfid","active":true,"console":"false","complete":"payload","x":430,"y":860,"wires":[]},{"id":"64c5710d.36474","type":"delay","z":"7428d23e.2861ec","name":"delay 3s","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":780,"wires":[["16b699ac.801446"]]},{"id":"8133ade.d02975","type":"template","z":"7428d23e.2861ec","name":"ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ON","output":"str","x":710,"y":660,"wires":[["e3b53c14.a258b","7abea493.c3f9fc"]]},{"id":"a329352.e5bd0c8","type":"switch","z":"7428d23e.2861ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"78f2dab9","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":2,"x":530,"y":640,"wires":[["8133ade.d02975"],["8133ade.d02975"]]},{"id":"16b699ac.801446","type":"template","z":"7428d23e.2861ec","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"OFF","output":"str","x":650,"y":760,"wires":[["e3b53c14.a258b","7abea493.c3f9fc"]]},{"id":"7abea493.c3f9fc","type":"debug","z":"7428d23e.2861ec","name":"res","active":true,"console":"false","complete":"payload","x":910,"y":800,"wires":[]},{"id":"96191799.073478","type":"function","z":"7428d23e.2861ec","name":"parse","func":"\nvar s = msg.payload.toString(\"hex\");\nreturn {\"payload\":s};","outputs":1,"noerr":0,"x":403.0833282470703,"y":691.7465286254883,"wires":[["a329352.e5bd0c8","ca6e1cc6.daa1a"]]},{"id":"1b3061fc.b92ffe","type":"function","z":"7428d23e.2861ec","name":"get Time","func":"if(global.get('first') === 0){\n    global.set(\"first\",1);\n    var d = new Date(),\n        minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),\n        hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),\n        ampm = d.getHours() >= 12 ? 'pm' : 'am',\n        months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],\n        days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var payload = days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return {\"payload\" : payload};\n}\n","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["464d0fd.a2268f","9e5d4292.803bf"]]},{"id":"464d0fd.a2268f","type":"ui_text","z":"7428d23e.2861ec","group":"a1881ef9.53e9d","order":0,"width":0,"height":0,"name":"","label":"Started Time","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":620,"wires":[]},{"id":"31f5f56a.283a3a","type":"inject","z":"7428d23e.2861ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":560,"wires":[["a5000346.a339d"]]},{"id":"a5000346.a339d","type":"function","z":"7428d23e.2861ec","name":"Reset","func":"global.set(\"first\",0);\n","outputs":1,"noerr":0,"x":370,"y":540,"wires":[[]]},{"id":"9e5d4292.803bf","type":"debug","z":"7428d23e.2861ec","name":"","active":true,"console":"false","complete":"false","x":990,"y":540,"wires":[]},{"id":"3952ee4c.60a282","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"Test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e61c134c.00482","type":"ui_group","z":"","name":"USER","tab":"5e236b0c.479f84","order":1,"disp":true,"width":"6"},{"id":"f0cbeaa0.9219e8","type":"mqtt-broker","z":"","broker":"192.168.43.61","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a1881ef9.53e9d","type":"ui_group","z":"","name":"USER","tab":"952db025.b92b2","order":1,"disp":true,"width":"6"},{"id":"5e236b0c.479f84","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2},{"id":"952db025.b92b2","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}]