team06_dhCNTT/bai2/NODE_RED_2_1.txt
[{"id":"8e3ed989.169e08","type":"mqtt in","z":"95c31c23.3f3e9","name":"","topic":"rfid","qos":"2","broker":"3952ee4c.60a282","x":170,"y":260,"wires":[["f9294c88.af33f","5208cc99.231cc4"]]},{"id":"4ee85454.57fa1c","type":"function","z":"95c31c23.3f3e9","name":"save start variable","func":"\nglobal.set('start', msg.payload);\nvar value = global.get('start');\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["9de4fc81.de566"]]},{"id":"9de4fc81.de566","type":"debug","z":"95c31c23.3f3e9","name":"Đặt phòng","active":true,"console":"false","complete":"payload","x":630,"y":100,"wires":[]},{"id":"e25d861a.8b4528","type":"ui_switch","z":"95c31c23.3f3e9","name":"","label":"Khách đặt phòng","group":"e650516a.a1332","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":100,"wires":[["4ee85454.57fa1c"]]},{"id":"f9294c88.af33f","type":"function","z":"95c31c23.3f3e9","name":"Thêm khách hàng","func":"\nvar start = global.get('start');\nvar clients = global.get('clients');\nvar client = msg.payload;\nvar giatien = global.get('giatien');\n\nif (start === true){\n    if (clients !== undefined) {\n        for (var i=0; i< clients.length; i++) {\n            if (client == clients[i]){\n                msg.payload = giatien;\n                return msg;\n            }\n        }\n        clients[i] = client;\n        global.set('clients', clients);\n        giatien[i] = 0;\n        global.set('giatien', giatien);\n    } else {\n        msg.payload = 'khong gia tri'\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["aa7cbf40.7aebe"]]},{"id":"aa7cbf40.7aebe","type":"debug","z":"95c31c23.3f3e9","name":"Thêm khách","active":true,"console":"false","complete":"payload","x":650,"y":240,"wires":[]},{"id":"fb6ac2e7.097d2","type":"ui_button","z":"95c31c23.3f3e9","name":"","group":"e650516a.a1332","order":3,"width":0,"height":0,"passthru":false,"label":"Thêm khách bằng tay","color":"","bgcolor":"","icon":"","payload":"78f2dab9","payloadType":"str","topic":"","x":160,"y":340,"wires":[["f9294c88.af33f"]]},{"id":"76112997.1fe5d8","type":"ui_button","z":"95c31c23.3f3e9","name":"","group":"e650516a.a1332","order":4,"width":0,"height":0,"passthru":false,"label":"Reset toàn DB","color":"","bgcolor":"","icon":"","payload":"123","payloadType":"str","topic":"","x":180,"y":680,"wires":[["966575af.20cb48"]]},{"id":"966575af.20cb48","type":"function","z":"95c31c23.3f3e9","name":"handle","func":"\nvar rfid = [];\nrfid[0] = msg.payload;\nvar giatien = []\ngiatien[0] = 0;\nglobal.set('clients', rfid);\nglobal.set('giatien', giatien);\n\nmsg.payload = rfid;\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["36ad1ad4.e55fa6"]]},{"id":"36ad1ad4.e55fa6","type":"debug","z":"95c31c23.3f3e9","name":"reset","active":true,"console":"false","complete":"payload","x":510,"y":680,"wires":[]},{"id":"db1af1bc.afbf5","type":"function","z":"95c31c23.3f3e9","name":"Thêm tiền","func":"var string = msg.payload;\nvar giatien = global.get('giatien');\nvar clients = global.get('clients');\n\n\n\nvar rfid = global.get('service_rfid');\nvar sang = global.get('service_sang');\nvar trua = global.get('service_trua');\nvar toi = global.get('service_toi');\n\nfor (var i in clients){\n    if (clients[i] == rfid){\n        giatien[i] = giatien[i] + (sang*100 + trua*200 + toi*300);\n        global.set('giatien', giatien);\n    }\n    \n}\nmsg.payload = giatien;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1000,"wires":[["635b8b81.5fd054"]]},{"id":"635b8b81.5fd054","type":"debug","z":"95c31c23.3f3e9","name":"Thêm dịch vụ","active":true,"console":"false","complete":"payload","x":620,"y":1000,"wires":[]},{"id":"b3048f1a.c8ffd","type":"function","z":"95c31c23.3f3e9","name":"save end variable","func":"\nglobal.set('end', msg.payload);\nvar value = global.get('end');\n\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["93cd935.6d5dc7"]]},{"id":"93cd935.6d5dc7","type":"debug","z":"95c31c23.3f3e9","name":"Trả phòng","active":true,"console":"false","complete":"payload","x":620,"y":160,"wires":[]},{"id":"ed7b20ac.f5c8d","type":"ui_switch","z":"95c31c23.3f3e9","name":"","label":"Khách trả phòng","group":"e650516a.a1332","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":160,"wires":[["b3048f1a.c8ffd"]]},{"id":"5208cc99.231cc4","type":"function","z":"95c31c23.3f3e9","name":"Tính tiền","func":"\nvar end = global.get('end');\nvar start = global.get('start');\nvar clients = global.get('clients');\nvar client = msg.payload;\nvar giatien = global.get('giatien');\n\nif (end === true && start === false){\n    for (var i in clients){\n        if (client == clients[i]){\n            msg.payload = giatien[i];\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["7b3b86a2.d38e58","48227285.83304c","9ec45d3d.dd3df"]]},{"id":"48227285.83304c","type":"debug","z":"95c31c23.3f3e9","name":"tính tiền","active":true,"console":"false","complete":"payload","x":720,"y":300,"wires":[]},{"id":"7b3b86a2.d38e58","type":"ui_text","z":"95c31c23.3f3e9","group":"e650516a.a1332","order":0,"width":0,"height":0,"name":"Thanh toán","label":"Số tiền khách hàng cần thanh toán","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":380,"wires":[]},{"id":"9ec45d3d.dd3df","type":"mqtt out","z":"95c31c23.3f3e9","name":"Số tiền thanh toán","topic":"ADMIN_TOTAL","qos":"","retain":"","broker":"3952ee4c.60a282","x":630,"y":440,"wires":[]},{"id":"46b4ce0e.bb1d2","type":"function","z":"95c31c23.3f3e9","name":"Hiển thị toàn bộ khách hàng","func":"\nvar clients = global.get('clients');\nvar giatien = global.get('giatien');\n\n\nmsg.payload = giatien;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["ed704597.e3fb28"]]},{"id":"ed704597.e3fb28","type":"debug","z":"95c31c23.3f3e9","name":"Toàn bộ khách","active":true,"console":"false","complete":"payload","x":1060,"y":560,"wires":[]},{"id":"262a0e9b.ea0a92","type":"ui_button","z":"95c31c23.3f3e9","name":"","group":"e650516a.a1332","order":0,"width":0,"height":0,"passthru":false,"label":"Thống kê","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":442.5,"y":601,"wires":[["46b4ce0e.bb1d2"]]},{"id":"85be94fb.449fd8","type":"mqtt in","z":"95c31c23.3f3e9","name":"","topic":"service_rfid","qos":"2","broker":"3952ee4c.60a282","x":170,"y":780,"wires":[["c2afc26e.cb411"]]},{"id":"776d5174.e4577","type":"mqtt in","z":"95c31c23.3f3e9","name":"","topic":"service_sang","qos":"2","broker":"3952ee4c.60a282","x":150,"y":820,"wires":[["f1ca8b09.9d0858"]]},{"id":"5dbfc6e7.d0bbd8","type":"mqtt in","z":"95c31c23.3f3e9","name":"","topic":"service_trua","qos":"2","broker":"3952ee4c.60a282","x":150,"y":860,"wires":[["ff277267.32ea7"]]},{"id":"3d812e4b.3bf772","type":"mqtt in","z":"95c31c23.3f3e9","name":"","topic":"service_toi","qos":"2","broker":"3952ee4c.60a282","x":140,"y":940,"wires":[["e6876e56.8443c","db1af1bc.afbf5"]]},{"id":"c2afc26e.cb411","type":"function","z":"95c31c23.3f3e9","name":"","func":"global.set('service_rfid', msg.payload);","outputs":1,"noerr":0,"x":365.5,"y":780,"wires":[[]]},{"id":"f1ca8b09.9d0858","type":"function","z":"95c31c23.3f3e9","name":"","func":"global.set('service_sang', msg.payload);","outputs":1,"noerr":0,"x":350,"y":840,"wires":[[]]},{"id":"ff277267.32ea7","type":"function","z":"95c31c23.3f3e9","name":"","func":"global.set('service_trua', msg.payload);","outputs":1,"noerr":0,"x":350,"y":880,"wires":[[]]},{"id":"e6876e56.8443c","type":"function","z":"95c31c23.3f3e9","name":"","func":"global.set('service_toi', msg.payload);","outputs":1,"noerr":0,"x":350,"y":920,"wires":[[]]},{"id":"3952ee4c.60a282","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"Test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e650516a.a1332","type":"ui_group","z":"","name":"team06","tab":"9be7f261.67068","disp":true,"width":"6"},{"id":"9be7f261.67068","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard"}]