cau1.json
[
    {
        "id": "661a68ad.2b032",
        "type": "meo-esp-in",
        "z": "6f436e7c.86888",
        "name": "",
        "deviceId": "team02",
        "broker": "fb9ab180.0438d",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "cca436cc.e3b5a8"
            ]
        ]
    },
    {
        "id": "61c8d6ab.1ab7d",
        "type": "ui_chart",
        "z": "6f436e7c.86888",
        "name": "",
        "group": "e2344602.6346c",
        "order": 0,
        "width": "6",
        "height": "4",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "50",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff3f09",
            "#083cf0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 530,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cca436cc.e3b5a8",
        "type": "function",
        "z": "6f436e7c.86888",
        "name": "Process",
        "func": "var temp = Math.round(Math.random() * 40);\nvar hum = Math.round(Math.random() * 100);\n\nvar msg1 = { \n    topic: \"Nhiệt độ\",\n    payload: temp \n};\nvar msg2 = { \n    topic: \"Độ ẩm\",\n    payload: hum \n};\nreturn [[msg1, msg2]];\n\n// msg.payload = temp;\n// msg.topic = \"temp\";\n\n// return msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "61c8d6ab.1ab7d"
            ]
        ]
    },
    {
        "id": "fb9ab180.0438d",
        "type": "mqtt-broker",
        "z": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e2344602.6346c",
        "type": "ui_group",
        "z": "",
        "name": "Biểu đồ",
        "tab": "20653b92.ccd5e4",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "20653b92.ccd5e4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]