cau_1_team08_data.js
[{"id":"60a3e132.b05b9","type":"ui_text","z":"6459251a.ed3a3c","group":"59bc7d6b.ccabb4","order":0,"width":0,"height":0,"name":"","label":"Nhiệt độ:","format":"{{msg.payload}} C","layout":"row-left","x":692,"y":37,"wires":[]},{"id":"1d09f4f2.dee90b","type":"meo-esp-in","z":"6459251a.ed3a3c","name":"","deviceId":"team08","broker":"166d35a9.c7ac9a","x":109,"y":93,"wires":[["83faea16.8618d8","935d1070.93e18"]]},{"id":"83faea16.8618d8","type":"function","z":"6459251a.ed3a3c","name":"Lấy nhiệt độ","func":"if (msg.payload[\"V1\"] < 1000){\n    msg.payload = msg.payload[\"V1\"];\n    return msg;\n}","outputs":1,"noerr":0,"x":327,"y":37,"wires":[["60a3e132.b05b9","1360c687.f865e9"]]},{"id":"699fb271.44db2c","type":"meo-esp-out","z":"6459251a.ed3a3c","name":"Bao chay D4","deviceId":"team08","broker":"166d35a9.c7ac9a","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"1","D3pwm":false,"D4":"1","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":686,"y":129,"wires":[]},{"id":"1360c687.f865e9","type":"function","z":"6459251a.ed3a3c","name":"Cảnh báo cháy","func":"if (msg.payload > 31)\n    return msg;\n//return msg;","outputs":1,"noerr":0,"x":371,"y":132,"wires":[["699fb271.44db2c"]]},{"id":"e531df28.88395","type":"ui_chart","z":"6459251a.ed3a3c","name":"","group":"59bc7d6b.ccabb4","order":0,"width":0,"height":0,"label":"Biểu đồ nhiệt độ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"500","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":680,"y":207,"wires":[[],[]]},{"id":"935d1070.93e18","type":"function","z":"6459251a.ed3a3c","name":"Lấy thông tin biểu đồ","func":"if (msg.payload[\"V1\"] < 1000 && msg.payload[\"V2\"] < 1000){\n    var msg1 = {};\n    var msg2 = {};\n    msg1.payload = msg.payload[\"V1\"];\n    msg1.topic = \"Nhiệt độ\";\n    msg2.payload = msg.payload[\"V2\"];\n    msg2.topic = \"Độ ẩm\";\n    return [msg1, msg2];\n}","outputs":"2","noerr":0,"x":331,"y":243,"wires":[["e531df28.88395"],["e531df28.88395"]]},{"id":"59bc7d6b.ccabb4","type":"ui_group","z":"","name":"Câu 1","tab":"67edadb3.a766a4","order":1,"disp":true,"width":"6"},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"45.76.163.233","port":"1883","clientid":"A01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"67edadb3.a766a4","type":"ui_tab","z":"","name":"Thi Open Source","icon":"dashboard","order":1}]