TLU_TIM_Thang_Long/part02/nodered/.flows.json.backup
[{"id":"d7e39bf7.6c65e","type":"tab","label":"motion_flow"},{"id":"2bb0a019.12c3f","type":"tab","label":"Flow 2"},{"id":"f7991476.caf8f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8960965.f9e778","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":2},{"id":"a25e6c79.6f112","type":"ui_group","name":"Group 1","tab":"e8960965.f9e778","order":1,"disp":true,"width":6},{"id":"6d7f8469.cc26ac","type":"mqtt-broker","z":"","broker":"172.20.10.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f9a0478c.3b048","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e04c3c2.ec8d04","type":"ui_tab","z":"","name":"Monitor","icon":"show chart","order":1},{"id":"8cc8dc8c.a205e8","type":"ui_group","z":"d7e39bf7.6c65e","name":"sensors_group","tab":"2e04c3c2.ec8d04","order":1,"disp":false,"width":"6"},{"id":"d05aabb1.8f4f5","type":"influxdb","z":"","hostname":"172.20.10.6","port":"8086","protocol":"http","database":"olp","name":"","usetls":false,"tls":""},{"id":"746c843e.c07c6c","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"https","database":"new_db","name":"","usetls":true,"tls":"5f7bb100.2ec1c8"},{"id":"5f7bb100.2ec1c8","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","verifyservercert":false},{"id":"48602ff3.8bc87","type":"influxdb","z":"2bb0a019.12c3f","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"c828589a.d76c98","type":"ui_chart","z":"d7e39bf7.6c65e","name":"","group":"8cc8dc8c.a205e8","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":571.6666259765625,"y":216.6665802001953,"wires":[[],[]]},{"id":"37917733.530eb8","type":"meo-esp-in","z":"d7e39bf7.6c65e","name":"","deviceId":"team11","broker":"6d7f8469.cc26ac","x":144.4444580078125,"y":212.22216796875,"wires":[["5c9a9a71.c67564","e6c55428.9b8ac","4e4f2b29.ca5334"]]},{"id":"5c9a9a71.c67564","type":"change","z":"d7e39bf7.6c65e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.V1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":333.888916015625,"y":213.33331298828125,"wires":[["c828589a.d76c98","b45af9e6.1c376"]]},{"id":"35ef4a1b.1c8b1e","type":"ui_chart","z":"d7e39bf7.6c65e","name":"","group":"8cc8dc8c.a205e8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":575.5556030273438,"y":346.6666259765625,"wires":[[],[]]},{"id":"e6c55428.9b8ac","type":"change","z":"d7e39bf7.6c65e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.V2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":352.22222900390625,"y":344.44439697265625,"wires":[["35ef4a1b.1c8b1e","fd26b4f8.4183b8"]]},{"id":"4e4f2b29.ca5334","type":"change","z":"d7e39bf7.6c65e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.D5","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":227,"y":524,"wires":[["7b3be422.88eaa4"]]},{"id":"7b3be422.88eaa4","type":"switch","z":"d7e39bf7.6c65e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":415.5,"y":529,"wires":[["26888749.51a008"],["3125db9a.c5f03c"]]},{"id":"26888749.51a008","type":"meo-esp-out","z":"d7e39bf7.6c65e","name":"","deviceId":"team11","broker":"6d7f8469.cc26ac","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":605.5,"y":485,"wires":[]},{"id":"3125db9a.c5f03c","type":"meo-esp-out","z":"d7e39bf7.6c65e","name":"","deviceId":"team11","broker":"6d7f8469.cc26ac","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":true,"F3":false,"F4":false,"F5":false,"x":606,"y":567,"wires":[]},{"id":"98ced89b.e02f88","type":"influxdb out","z":"d7e39bf7.6c65e","influxdb":"d05aabb1.8f4f5","name":"push to db","measurement":"sensors","precision":"","retentionPolicy":"","x":660.5,"y":279,"wires":[]},{"id":"b45af9e6.1c376","type":"function","z":"d7e39bf7.6c65e","name":"query","func":"msg.payload = [{\n    name: \"temperature\",\n    value: msg.payload,\n}];\nreturn msg;","outputs":1,"noerr":0,"x":477.5,"y":281,"wires":[["98ced89b.e02f88"]]},{"id":"cff2ef7a.327f38","type":"inject","z":"2bb0a019.12c3f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222,"y":246,"wires":[["91a428ee.4a3b1"]]},{"id":"91a428ee.4a3b1","type":"function","z":"2bb0a019.12c3f","name":"Fields and Tags","func":"msg.payload = [{\n    numValue: 12,\n    randomValue: Math.random()*10,\n    strValue: \"message2\"\n},\n{\n    tag1:\"sensor1\",\n    tag2:\"device2\"\n}];\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":246,"wires":[["504f439.80861bc"]]},{"id":"504f439.80861bc","type":"influxdb out","z":"2bb0a019.12c3f","influxdb":"48602ff3.8bc87","name":"","measurement":"test","x":581,"y":246,"wires":[]},{"id":"fd26b4f8.4183b8","type":"function","z":"d7e39bf7.6c65e","name":"query","func":"msg.payload = [{\n    name: \"humidity\",\n    value: msg.payload,\n}];\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":401,"wires":[["be2f2be.cdd3758"]]},{"id":"be2f2be.cdd3758","type":"influxdb out","z":"d7e39bf7.6c65e","influxdb":"d05aabb1.8f4f5","name":"push to db","measurement":"sensors","precision":"","retentionPolicy":"","x":676,"y":401,"wires":[]}]