Hutech3_DaihocCongNgheTpHCM/part01/cau1.json
[{"id":"fdaae159.f111d","type":"meo-esp-out","z":"30c67e50.3f8932","name":"tatden","deviceId":"team05","broker":"914dc21.69e704","D0":"0","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":false,"F3":false,"F4":false,"F5":false,"x":830,"y":420,"wires":[]},{"id":"cf857ea4.0b90c","type":"meo-esp-in","z":"30c67e50.3f8932","name":"team05","deviceId":"team05","broker":"914dc21.69e704","x":120,"y":380,"wires":[["6ca1055a.818a3c","2b12832e.86730c","78300af3.adcb44"]]},{"id":"7210dce.1d7ba24","type":"debug","z":"30c67e50.3f8932","name":"","active":true,"console":"false","complete":"payload","x":670,"y":340,"wires":[]},{"id":"8a96808f.ea306","type":"switch","z":"30c67e50.3f8932","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":630,"y":460,"wires":[["fdaae159.f111d"],["302f06f4.da10ca"]]},{"id":"302f06f4.da10ca","type":"meo-esp-out","z":"30c67e50.3f8932","name":"batden","deviceId":"team05","broker":"914dc21.69e704","D0":"1","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"1","D4pwm":false,"F1":false,"F2":false,"F3":false,"F4":false,"F5":false,"x":830,"y":540,"wires":[]},{"id":"e0e38fee.6196a","type":"ui_chart","z":"30c67e50.3f8932","name":"Temp","group":"7839d4ca.3206ec","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":670,"y":160,"wires":[[],[]]},{"id":"e8c81ba8.d4c9a8","type":"ui_chart","z":"30c67e50.3f8932","name":"Hum","group":"245391cb.7670ee","order":0,"width":0,"height":0,"label":"Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":100,"wires":[[],[]]},{"id":"6ca1055a.818a3c","type":"function","z":"30c67e50.3f8932","name":"showTemp","func":"var msg1 = {payload: msg.payload.V1};\nreturn msg1;","outputs":"1","noerr":0,"x":410,"y":340,"wires":[["e0e38fee.6196a","7210dce.1d7ba24"]]},{"id":"2b12832e.86730c","type":"function","z":"30c67e50.3f8932","name":"showhum","func":"msg.payload = msg.payload.V2;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["e8c81ba8.d4c9a8"]]},{"id":"78300af3.adcb44","type":"function","z":"30c67e50.3f8932","name":"","func":"msg.payload = (msg.payload.V1 >=30) ? \"1\" : \"0\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["8a96808f.ea306"]]},{"id":"914dc21.69e704","type":"mqtt-broker","z":"","broker":"server.tobernguyen.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7839d4ca.3206ec","type":"ui_group","z":"","name":"Biểu Đồ","tab":"dc915129.a2bb2","order":2,"disp":true,"width":"6"},{"id":"245391cb.7670ee","type":"ui_group","z":"","name":"Biểu Đồ","tab":"dc915129.a2bb2","disp":true,"width":"6"},{"id":"dc915129.a2bb2","type":"ui_tab","z":"","name":"Olympic","icon":"dashboard"}]