SGU1_SGU/part02/Flow_Cau_2.json
[{"id":"f9216f9b.dd7ad","type":"meo-esp-in","z":"6f436e7c.86888","name":"8266_2","deviceId":"team09_2","broker":"166d35a9.c7ac9a","x":114.5,"y":362,"wires":[["6c0eabff.0622b4","4ccf7701.7551c8","19fc0de1.ed5e12","336a70a.da4a69"]]},{"id":"6c0eabff.0622b4","type":"debug","z":"6f436e7c.86888","name":"","active":true,"console":"false","complete":"true","x":399.5,"y":419,"wires":[]},{"id":"dd4f3a42.290ee8","type":"meo-esp-out","z":"6f436e7c.86888","name":"led_off","deviceId":"team09_2","broker":"166d35a9.c7ac9a","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":true,"F3":false,"F4":false,"F5":false,"x":547.5,"y":108,"wires":[]},{"id":"4ccf7701.7551c8","type":"switch","z":"6f436e7c.86888","name":"","property":"payload.V1","propertyType":"msg","rules":[{"t":"lt","v":"35","vt":"str"},{"t":"gte","v":"34","vt":"str"}],"checkall":"true","outputs":2,"x":342.5,"y":210,"wires":[["dd4f3a42.290ee8"],["6ab59756.064ed8"]]},{"id":"6ab59756.064ed8","type":"meo-esp-out","z":"6f436e7c.86888","name":"led_on","deviceId":"team09_2","broker":"166d35a9.c7ac9a","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":547.5,"y":272,"wires":[]},{"id":"7516fc49.39d714","type":"ui_chart","z":"6f436e7c.86888","name":"","group":"6bc52eb7.b65b7","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":693.5,"y":397,"wires":[[],[]]},{"id":"19fc0de1.ed5e12","type":"function","z":"6f436e7c.86888","name":"Function 1","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.topic = \"Temp (C)\";\nmsg1.payload = msg.payload.V1;\nmsg2.topic = \"Humidity (%)\";\nmsg2.payload = msg.payload.V2;\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":390.5,"y":364,"wires":[["7516fc49.39d714"],["7516fc49.39d714"]]},{"id":"9548a694.9bf3d8","type":"meo-esp-out","z":"6f436e7c.86888","name":"8266 out","deviceId":"team09_2","broker":"166d35a9.c7ac9a","D0":"1","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":false,"F3":true,"F4":false,"F5":false,"x":960,"y":158,"wires":[]},{"id":"ff2625c0.1437c8","type":"http in","z":"6f436e7c.86888","name":"","url":"/devices","method":"get","swaggerDoc":"","x":142.5,"y":659,"wires":[["aa4aa1b0.56298"]]},{"id":"8e1586b8.4ede58","type":"http response","z":"6f436e7c.86888","name":"","x":1241.5,"y":663,"wires":[]},{"id":"aa4aa1b0.56298","type":"function","z":"6f436e7c.86888","name":"SELECT ALL DEVICES","func":"msg.topic = \"SELECT * FROM DEVICES\";\nreturn msg;","outputs":1,"noerr":0,"x":377.5,"y":656,"wires":[["6ea6ea6a.c5b834"]]},{"id":"6ea6ea6a.c5b834","type":"sqlite","z":"6f436e7c.86888","mydb":"2ba9295b.d68aa6","name":"","x":662.5,"y":648,"wires":[["8e1586b8.4ede58"]]},{"id":"d2c885a7.5a6098","type":"http in","z":"6f436e7c.86888","name":"","url":"/device","method":"get","swaggerDoc":"","x":144.5,"y":737,"wires":[["78a10860.591848"]]},{"id":"78a10860.591848","type":"function","z":"6f436e7c.86888","name":"SELECT DATA BY DEVICE","func":"msg.topic = \"SELECT * FROM DATA WHERE device_id = \" + msg.payload.id + \" ORDER BY id DESC LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":731,"wires":[["db74946f.dd57d8"]]},{"id":"3d92077d.82e038","type":"function","z":"6f436e7c.86888","name":"parse data","func":"if(msg.payload.length === 0) {\n    msg.payload = null;\n    return msg;\n}\nvar item = msg.payload[0];\nnode.warn(item.data);\nitem.data = JSON.parse(item.data)\nmsg.payload = item;\nreturn msg;","outputs":1,"noerr":0,"x":868.5,"y":709,"wires":[["8e1586b8.4ede58"]]},{"id":"db74946f.dd57d8","type":"sqlite","z":"6f436e7c.86888","mydb":"2ba9295b.d68aa6","name":"","x":671,"y":710,"wires":[["3d92077d.82e038"]]},{"id":"336a70a.da4a69","type":"function","z":"6f436e7c.86888","name":"INSERT TO DATA","func":"msg.topic = \"INSERT INTO DATA(device_id, data) VALUES('\"+msg.payload.V5+\"', '{\\\"temp\\\": \"+msg.payload.V1+\", \\\"humidity\\\": \"+msg.payload.V2+\"}')\";\nreturn msg;","outputs":1,"noerr":0,"x":356.5,"y":516,"wires":[["6ea6ea6a.c5b834"]]},{"id":"2e76ed2f.cf31f2","type":"http in","z":"6f436e7c.86888","name":"","url":"/data","method":"get","swaggerDoc":"","x":133.5,"y":822,"wires":[["f7525d1b.26a5f"]]},{"id":"f7525d1b.26a5f","type":"function","z":"6f436e7c.86888","name":"SELECT DATA BY DEVICE","func":"msg.topic = \"SELECT * FROM DATA WHERE device_id = \" + msg.payload.id + \" ORDER BY id DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":816,"wires":[["464fb55e.f95cdc"]]},{"id":"464fb55e.f95cdc","type":"sqlite","z":"6f436e7c.86888","mydb":"2ba9295b.d68aa6","name":"","x":673,"y":815,"wires":[["8e1586b8.4ede58"]]},{"id":"2d37458d.ce3caa","type":"http request","z":"6f436e7c.86888","name":"","method":"GET","ret":"txt","url":"","x":996.5,"y":416,"wires":[[]]},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6bc52eb7.b65b7","type":"ui_group","name":"Group 1","tab":"a7d62e2b.fa69","order":1,"disp":true,"width":6},{"id":"2ba9295b.d68aa6","type":"sqlitedb","z":"","db":"db"},{"id":"a7d62e2b.fa69","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]