Team04_DaiHocCongNgheTp.HCM(HUTECH)/Cau1/Json.json
[{"id":"bc5da7bb.742fa8","type":"meo-esp-out","z":"227e80e7.9e8d5","name":"team4 tatden","deviceId":"team04","broker":"cd224bab.162aa8","D0":"0","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":1040,"y":320,"wires":[]},{"id":"9ef560c5.2e89b","type":"meo-esp-in","z":"227e80e7.9e8d5","name":"MEO","deviceId":"team04","broker":"cd224bab.162aa8","x":330,"y":260,"wires":[["ca1105ab.22d1a8","3b7c0bdf.393e84","18f71ec6.f24131","3b7cb84f.18afc8","ee4b72e1.5ca5b8"]]},{"id":"ca1105ab.22d1a8","type":"function","z":"227e80e7.9e8d5","name":"","func":"msg1 = {};\nmsg2 = {};\nif(msg.payload.V1 <=35){\n    msg1.payload = \"tat neu den dang bat\";\n    msg2.payload = 0;\n    // 0 la tat den\n    return [msg1, msg2];\n}else{\n    msg1.payload = \"Bat den canh bao\";\n    msg2.payload = 1;\n    return [msg1, msg2];\n}","outputs":"2","noerr":0,"x":770,"y":260,"wires":[[],["f3c5c48.42b8938"]]},{"id":"3b7c0bdf.393e84","type":"debug","z":"227e80e7.9e8d5","name":"","active":true,"console":"false","complete":"payload","x":896.7999877929688,"y":170,"wires":[]},{"id":"f3c5c48.42b8938","type":"switch","z":"227e80e7.9e8d5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":803.7999877929688,"y":358,"wires":[["bc5da7bb.742fa8"],["88b4273d.21b898"]]},{"id":"88b4273d.21b898","type":"meo-esp-out","z":"227e80e7.9e8d5","name":"team4 batden","deviceId":"team04","broker":"cd224bab.162aa8","D0":"1","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"1","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":1040,"y":380,"wires":[]},{"id":"18f71ec6.f24131","type":"ui_text","z":"227e80e7.9e8d5","group":"2e778ae0.311e8e","order":1,"width":0,"height":0,"name":"temp","label":"Nhiệt độ","format":"{{msg.payload.V1}}","layout":"row-spread","x":530,"y":400,"wires":[]},{"id":"3b7cb84f.18afc8","type":"ui_text","z":"227e80e7.9e8d5","group":"2e778ae0.311e8e","order":2,"width":0,"height":0,"name":"Humm","label":"Độ ẩm","format":"{{msg.payload.V2}}","layout":"row-spread","x":530,"y":440,"wires":[]},{"id":"fe661a86.ddc208","type":"ui_chart","z":"227e80e7.9e8d5","name":"","group":"2e778ae0.311e8e","order":0,"width":0,"height":0,"label":"Độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":580,"wires":[[],[]]},{"id":"ee4b72e1.5ca5b8","type":"function","z":"227e80e7.9e8d5","name":"","func":"msg1 = {};\nmsg2 = {};\nmsg1.payload = msg.payload.V1;\nmsg2.payload = msg.payload.V2;\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":470,"y":540,"wires":[["c0577cc.f8efb"],["fe661a86.ddc208"]]},{"id":"c0577cc.f8efb","type":"ui_chart","z":"227e80e7.9e8d5","name":"","group":"2e778ae0.311e8e","order":0,"width":0,"height":0,"label":"Nhiệt độ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":520,"wires":[[],[]]},{"id":"cd224bab.162aa8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e778ae0.311e8e","type":"ui_group","z":"","name":"Cảm biến","tab":"33854586.001eba","order":2,"disp":true,"width":"6"},{"id":"33854586.001eba","type":"ui_tab","z":"","name":"Olympic","icon":"dashboard"}]