cau 1/demo cau 1.txt
[{"id":"52843721.43c188","type":"meo-esp-in","z":"aabb3e13.a5d2f","name":"Team 03 ","deviceId":"team03","broker":"8c88f28f.a7312","x":299.01422119140625,"y":419.8238525390625,"wires":[["cea18089.f61c5"]]},{"id":"cea18089.f61c5","type":"function","z":"aabb3e13.a5d2f","name":"Check multiplexing Function output","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n\nif(msg.payload.V1 > 35){\n    msg2.payload = msg.payload.V2;\n    msg1.payload = msg.payload.V1;\n    msg3.payload = 1;\n}\nelse{\n    msg2.payload = msg.payload.V2;\n    msg1.payload = msg.payload.V1;\n    msg3.payload = 0;\n}\n\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":396.01422119140625,"y":527.8237838745117,"wires":[["2fdf6658.e688fa","36365d9.b3f35a2"],["a5e690f3.17e66","f1d7e058.e0373"],["b95e8ba1.a50a38"]]},{"id":"aa7749ba.a78db8","type":"debug","z":"aabb3e13.a5d2f","name":"Độ Ẩm","active":true,"console":"false","complete":"payload","x":553.0142097473145,"y":683.8238468170166,"wires":[]},{"id":"2867ff35.857f6","type":"debug","z":"aabb3e13.a5d2f","name":"Nhiệt Độ","active":true,"console":"false","complete":"payload","x":633.0141983032227,"y":469.82386779785156,"wires":[]},{"id":"2fdf6658.e688fa","type":"ui_gauge","z":"aabb3e13.a5d2f","name":"DashBoard Nhiệt Độ","group":"3ea3e895.6ad558","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Nhiệt Độ oC","format":"{{value}}","min":0,"max":"45","colors":["#0a05af","#3fbd28","#ca3838"],"seg1":"25","seg2":"30","x":737.0142211914062,"y":501.8238830566406,"wires":[]},{"id":"a5e690f3.17e66","type":"ui_gauge","z":"aabb3e13.a5d2f","name":"DashBoard Độ Ẩm","group":"3ea3e895.6ad558","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"Độ Ẩm","format":"{{value}}","min":0,"max":"100","colors":["#af0523","#46899f","#5343be"],"seg1":"50","seg2":"75","x":696.0142211914062,"y":647.8238525390625,"wires":[]},{"id":"b95e8ba1.a50a38","type":"switch","z":"aabb3e13.a5d2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":789.0142211914062,"y":544.8238525390625,"wires":[["677c31b6.d348f"],["af1597b0.740a58","6fab8c96.8945e4"]]},{"id":"677c31b6.d348f","type":"meo-esp-out","z":"aabb3e13.a5d2f","name":"MEO OFF LED","deviceId":"team03","broker":"8c88f28f.a7312","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"0","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":false,"F3":false,"F4":false,"F5":false,"x":981.0142211914062,"y":536.8238525390625,"wires":[]},{"id":"af1597b0.740a58","type":"meo-esp-out","z":"aabb3e13.a5d2f","name":"MEO ON LED","deviceId":"team03","broker":"8c88f28f.a7312","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"1","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":false,"F3":false,"F4":false,"F5":false,"x":927.0142288208008,"y":594.8237991333008,"wires":[]},{"id":"a41bc07.c8fe64","type":"inject","z":"aabb3e13.a5d2f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":429.01422119140625,"y":732.8238525390625,"wires":[["d3d386c6.5d15a8"]]},{"id":"d3d386c6.5d15a8","type":"meo-esp-out","z":"aabb3e13.a5d2f","name":"Test Function on Frimware","deviceId":"team03","broker":"8c88f28f.a7312","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":633.0142440795898,"y":744.8237953186035,"wires":[]},{"id":"36365d9.b3f35a2","type":"function","z":"aabb3e13.a5d2f","name":"Function Nhiệt Độ","func":"var time = new Date();\nvar demo = time.toString();\nvar z = demo.substr(demo, 25);\nvar p = msg.payload;\nmsg.payload = \"Nhiệt Độ Hiện Tại \" + z + \"là : \" +  p + \"oC\";\nreturn msg;","outputs":1,"noerr":0,"x":577.0141906738281,"y":417.8238458633423,"wires":[["2867ff35.857f6"]]},{"id":"f1d7e058.e0373","type":"function","z":"aabb3e13.a5d2f","name":"Fucntion Độ Ẩm","func":"var time = new Date();\nvar demo = time.toString();\nvar z = demo.substr(demo, 25);\nvar p = msg.payload;\nmsg.payload = \" Độ Ẩm Hiện Tại \" + z + \"là : \" +  p + \"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":462.0142288208008,"y":604.8238143920898,"wires":[["aa7749ba.a78db8"]]},{"id":"e0d6e64a.ff0208","type":"e-mail","z":"aabb3e13.a5d2f","server":"smtp.gmail.com","port":"465","secure":true,"name":"khanhney.dev@gmail.com","dname":"","x":1048.0142059326172,"y":472.82390117645264,"wires":[]},{"id":"6fab8c96.8945e4","type":"function","z":"aabb3e13.a5d2f","name":"Gửi Email","func":"msg.payload = \"Nhiệt Độ Hiện Tại Đã Trên 35oC\"\nreturn msg;","outputs":1,"noerr":0,"x":962.0142135620117,"y":338.8238105773926,"wires":[["e0d6e64a.ff0208"]]},{"id":"8c88f28f.a7312","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"KhanhNeyID242zz","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3ea3e895.6ad558","type":"ui_group","z":"","name":"Group1","tab":"57b289d7.db4dc8","order":1,"disp":true,"width":"6"},{"id":"57b289d7.db4dc8","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2}] 