ChimCanhCut_UIT/challenge2/flows_lyoko.json
[{"id":"9813d9a8.012128","type":"tab","label":"Flow 1"},{"id":"467c8ab7.f68314","type":"telegram bot","z":"","botname":"OLP Demo Bot","usernames":"","chatids":""},{"id":"f5b2f027.69f52","type":"mqtt-broker","z":"","broker":"45.77.245.172","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"db38df56.db6ac","type":"mqtt out","z":"9813d9a8.012128","name":"","topic":"open","qos":"1","retain":"","broker":"f5b2f027.69f52","x":840.5,"y":242,"wires":[]},{"id":"8efe6a29.eb28f","type":"delay","z":"9813d9a8.012128","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630.5,"y":375,"wires":[["cd40c7a.32cd8b8"]]},{"id":"cd40c7a.32cd8b8","type":"mqtt out","z":"9813d9a8.012128","name":"","topic":"","qos":"","retain":"","broker":"f5b2f027.69f52","x":851,"y":374,"wires":[]},{"id":"945ffb8f.ea33e8","type":"mqtt in","z":"9813d9a8.012128","name":"","topic":"","qos":"2","x":132.5,"y":672,"wires":[[]]},{"id":"821653bf.834448","type":"telegram sender","z":"9813d9a8.012128","name":"","bot":"467c8ab7.f68314","x":625.5,"y":695,"wires":[[]]},{"id":"30737776.25458","type":"telegram command","z":"9813d9a8.012128","name":"Open the door","command":"/open","bot":"467c8ab7.f68314","x":316.5,"y":251,"wires":[["cfdbda63.ab258","8efe6a29.eb28f"],[]]},{"id":"cfdbda63.ab258","type":"function","z":"9813d9a8.012128","name":"kiểm tra có không","func":"var send = {\n    \"payload\": \"C\"\n}\nreturn send;","outputs":1,"noerr":0,"x":599.5,"y":244,"wires":[["db38df56.db6ac"]]},{"id":"239b382c.d0781","type":"telegram command","z":"9813d9a8.012128","name":"Authentication","command":"/add","bot":"467c8ab7.f68314","x":312.5,"y":43,"wires":[["e3500e93.52831"],[]]},{"id":"e3500e93.52831","type":"function","z":"9813d9a8.012128","name":"xác nhận","func":"var send = {\n    \"payload\": {\n        \"type\": \"message\",\n        \"content\": \"đã đăng nhập\",\n        \"messageId\": 123456789,\n        \"chatId\": 221643908\n    }\n}\nreturn send;","outputs":1,"noerr":0,"x":578,"y":90,"wires":[["90a602f9.63d58"]]},{"id":"90a602f9.63d58","type":"telegram sender","z":"9813d9a8.012128","name":"","bot":"467c8ab7.f68314","x":910.5,"y":88,"wires":[[]]}]