node-red/data/flows.json
[{"id":"6f436e7c.86888","type":"tab","label":"desLight"},{"id":"47e97ed8.6838f8","type":"tab","label":"Lights"},{"id":"e5657487.299758","type":"tab","label":"Settings"},{"id":"5e2b6bca.a08524","type":"subflow","name":"Login","info":"","in":[{"x":63,"y":31,"wires":[{"id":"1b3bde91.f37e41"}]}],"out":[{"x":593,"y":25,"wires":[{"id":"39507e72.d59182","port":0}]}]},{"id":"20653b92.ccd5e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"47d9cbc6.dc6254","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"334cac04.9721c4","type":"ui_tab","z":"","name":"Lights","icon":"dashboard","order":2},{"id":"1b297e7b.53db22","type":"mongodb2","z":"","uri":"mongodb://mongodb:27017/desLight","name":"","options":"","parallelism":"-1"},{"id":"911994a6.fd29b","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":3},{"id":"56a4af39.b9ce8","type":"ui_group","z":"","name":"Add new","tab":"911994a6.fd29b","order":1,"disp":true,"width":"6"},{"id":"3f159db0.241c42","type":"ui_group","z":"","name":"Lights","tab":"911994a6.fd29b","order":2,"disp":true,"width":"6"},{"id":"8b13f4f9.2c9d8","type":"ui_group","z":"","name":"Chart","tab":"911994a6.fd29b","order":3,"disp":true,"width":"6"},{"id":"d5fe8150.8b6f38","type":"ui_group","z":"","name":"List","tab":"334cac04.9721c4","order":2,"disp":true,"width":"6"},{"id":"e7f1f4bd.4413f","type":"ui_group","z":"","name":"Chart","tab":"334cac04.9721c4","order":1,"disp":true,"width":"6"},{"id":"a0d31406.9a9278","type":"node-red-contrib-httpauthcred","z":"","name":"","authType":"Basic","realm":"","username":"admin","password":"admin","hashed":false},{"id":"1b3bde91.f37e41","type":"function","z":"5e2b6bca.a08524","name":"Lower Case","func":"msg.payload = \"abc\";\nreturn msg;","outputs":1,"noerr":0,"x":247.19100952148438,"y":30.854175567626953,"wires":[["39507e72.d59182"]]},{"id":"1b502.eae05afe1","type":"ui_form","z":"e5657487.299758","name":"","label":"Add new device","group":"56a4af39.b9ce8","order":1,"width":"6","height":"1","options":[{"label":"Device ID","value":"id","type":"text","required":true},{"label":"Name","value":"name","type":"text","required":true},{"label":"On","value":"status","type":"checkbox","required":true}],"formValue":{"id":"","name":"","status":false},"payload":"","topic":"","x":120,"y":60,"wires":[["f7a3a2e6.6924d8"]]},{"id":"f7a3a2e6.6924d8","type":"mongodb2 in","z":"e5657487.299758","service":"_ext_","configNode":"1b297e7b.53db22","name":"Insert","collection":"lights","operation":"insert","x":317.5,"y":76,"wires":[["d0cb3928.72c04","75d2e894.c3f54"]]},{"id":"d0cb3928.72c04","type":"debug","z":"e5657487.299758","name":"Log","active":true,"console":"false","complete":"payload","x":543.5,"y":141,"wires":[]},{"id":"75d2e894.c3f54","type":"ui_toast","z":"e5657487.299758","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Success","x":545.5,"y":40,"wires":[]},{"id":"39507e72.d59182","type":"function","z":"5e2b6bca.a08524","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":450.5,"y":25,"wires":[[]]},{"id":"c758ad8e.8fb518","type":"http in","z":"6f436e7c.86888","name":"","url":"/","method":"get","swaggerDoc":"","x":130,"y":100,"wires":[["166b14e3.50baa3"]]},{"id":"166b14e3.50baa3","type":"template","z":"6f436e7c.86888","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"<html>\n    <head>\n        <title>IoT</title>\n        <link rel=\"stylesheet\" href=\"https://unpkg.com/element-ui/lib/theme-chalk/index.css\">\n        <script src=\"https://unpkg.com/vue\"></script>\n        <script src=\"https://unpkg.com/element-ui/lib/index.js\"></script>\n        <script src=\"https://cdn.jsdelivr.net/npm/vue-resource@1.3.4\"></script>\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.css\" />\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js\"></script>\n        <script src=\"https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js\" charset=\"utf-8\"></script>\n    </head>\n    <body>\n        <div id=\"chart\"></div>\n        <div id=\"app\">\n            <template>\n                <!-- `checked` should be true or false -->\n                <el-checkbox v-model=\"lights[0]\" @change=\"sendCommand\">Light 1</el-checkbox>\n                <el-checkbox v-model=\"lights[1]\" @change=\"sendCommand\">Light 2</el-checkbox>\n                <el-checkbox v-model=\"lights[2]\" @change=\"sendCommand\">Light 3</el-checkbox>\n                <el-checkbox v-model=\"lights[3]\" @change=\"sendCommand\">Light 4</el-checkbox>\n                <el-checkbox v-model=\"lights[4]\" @change=\"sendCommand\">Light 5</el-checkbox>\n                <el-button\n                    plain\n                    @click=\"drawChart\">\n                    Draw Chart\n                </el-button>\n\n                <el-button\n                    plain\n                    @click=\"showLights\">\n                    Show lights\n                </el-button>\n\n                <input v-model=\"lightList.name\">\n\n                <div v-for=\"(l, index) in lightList\">\n                    <label for=\"led-$index\">{{l.name}}</label>\n                    <el-switch id=\"led-$index\" v-model=\"l.status\">\n                    </el-switch>\n                </div>                   \n                \n            </template>\n        </div>\n        <script>\n            var chart = null;\n            var app = new Vue({\n                el: '#app',\n                data: {\n                    lights: [false, false, false, false, false],\n                    firstLineDataSet: ['data1'],\n                    secondLineDataSet: ['data2'],\n                    lightList: [{name: \"A\"}, {name: \"B\"}],\n                    value: true\n                },\n                methods: {\n                    drawChart() {                        \n                        chart = c3.generate({\n                            bindto: '#chart',\n                            data: {\n                                columns: [\n                                    this.firstLineDataSet,\n                                    this.secondLineDataSet,\n                                ],\n                                type: 'spline'\n                            }\n                        });\n\n                        this.$notify({\n                        title: 'Success',\n                        message: 'This is a success message',\n                        type: 'success'\n                        });\n                    },\n                    addData() {\n                        this.firstLineDataSet.push(Math.random()*10);\n                        if (this.firstLineDataSet.length > 11) {\n                            this.firstLineDataSet.splice(1, 1);\n                        }\n\n                        this.secondLineDataSet.push(Math.random()*20);\n                        if (this.secondLineDataSet.length > 11) {\n                            this.secondLineDataSet.splice(1, 1);\n                        }\n                        \n                        chart.load({\n                            columns: [\n                                this.firstLineDataSet,\n                                this.secondLineDataSet,\n                            ]\n                        });\n                    },\n                    sendCommand: function() {\n                        var values  = [];\n                        for (var index = 0; index < 5; index++) {\n                            values.push(this.lights[index] ? \"1\" : \"0\");\n                        }\n                        var payload = {\n                            \"lights\": values\n                        }\n                        this.$http.put('/lights', payload).then(response => {\n                            console.log(\"Result: \", response.body);\n                        });\n\n                    },\n                    showLights: function() {\n                        this.$http.get('/lights', {\"dataType\" : \"json\"}).then(response => {\n                            console.log(\"Response: \", response);\n                            console.log(\"Response.body: \", response.body);\n                            this.lightList = response.body;\n                            console.log(\"Light array: \", JSON.stringify(this.lightList));\n                        });\n                    }\n                },\n                mounted: function() {\n                    this.drawChart();\n\n                    setInterval(function() {\n                        this.addData();\n                    }.bind(this), 1000); \n                }\n            })\n        </script>\n    </body>\n</html>","x":313.5,"y":123,"wires":[["e1c8a378.183f78"]]},{"id":"e1c8a378.183f78","type":"http response","z":"6f436e7c.86888","name":"","x":462.5,"y":126,"wires":[]},{"id":"eab3d7c1.89e18","type":"http in","z":"6f436e7c.86888","name":"","url":"/lights","method":"get","swaggerDoc":"","x":136.5,"y":240,"wires":[["9b626c39.025528"]]},{"id":"e4330a63.eadca","type":"http response","z":"6f436e7c.86888","name":"","x":550,"y":260,"wires":[]},{"id":"9b626c39.025528","type":"mongodb2 in","z":"6f436e7c.86888","service":"_ext_","configNode":"1b297e7b.53db22","name":"Get lights","collection":"lights","operation":"find.toArray","x":340,"y":260,"wires":[["e4330a63.eadca"]]},{"id":"a26c264c.b44248","type":"inject","z":"e5657487.299758","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":130,"y":260,"wires":[["91dee69a.65175"]]},{"id":"91dee69a.65175","type":"mongodb2 in","z":"e5657487.299758","service":"_ext_","configNode":"1b297e7b.53db22","name":"Delete","collection":"lights","operation":"deleteMany","x":350,"y":380,"wires":[["bbfa56d5.dd8aa8"]]},{"id":"bbfa56d5.dd8aa8","type":"debug","z":"e5657487.299758","name":"","active":true,"console":"false","complete":"false","x":540,"y":300,"wires":[]}]