DES_CTU/part02/itravel.json
[{"id":"41c7b319.bdb98c","type":"mqtt in","z":"482fff7a.d6c5d","name":"","topic":"esp/team02/out","qos":"2","broker":"98636117.d26f4","x":154.19444274902344,"y":28.96875,"wires":[["ebdc1231.ef722","b0bf8324.27017"]]},{"id":"b4e18c03.b7021","type":"ui_template","z":"482fff7a.d6c5d","group":"946546f3.a87d58","name":"","order":0,"width":"6","height":"10","format":"<div>\n    <p>ID: {{msg.payload.rfid}}</p>\n    Dich vu 1:<input type=\"checkbox\" ng-model=\"msg.payload.services[0]\"/><br/>\n    Dich vu 2:<input type=\"checkbox\" ng-model=\"msg.payload.services[1]\"/><br/>\n    <input type=\"button\" value=\"Save\" ng-click=\"send(msg);\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":499.9999771118164,"y":83.00000190734863,"wires":[["b0bf8324.27017","9ce51dba.64655"]]},{"id":"c8800352.b63d","type":"inject","z":"482fff7a.d6c5d","name":"","topic":"","payload":"RFID","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.9999771118164,"y":163.00000190734863,"wires":[["ebdc1231.ef722"]]},{"id":"ebdc1231.ef722","type":"function","z":"482fff7a.d6c5d","name":"Handle RFID","func":"msg.payload = {\n    rfid: msg.payload,\n    services: [false, false]\n}\nreturn msg;","outputs":1,"noerr":0,"x":329.9999771118164,"y":123.00000190734863,"wires":[["b4e18c03.b7021"]]},{"id":"b0bf8324.27017","type":"debug","z":"482fff7a.d6c5d","name":"DEBUG","active":true,"console":"false","complete":"payload","x":699.9999771118164,"y":23.000001907348633,"wires":[]},{"id":"6af2cf42.6c14e","type":"mongodb2 in","z":"482fff7a.d6c5d","service":"_ext_","configNode":"1b297e7b.53db22","name":"Update","collection":"services","operation":"updateOne","x":859.9999771118164,"y":83.00000190734863,"wires":[[]]},{"id":"9ce51dba.64655","type":"function","z":"482fff7a.d6c5d","name":"Save","func":"msg.payload = [\n    {rfid: msg.payload.rfid},\n    msg.payload,\n    {upsert: true}\n];\nreturn msg;","outputs":1,"noerr":0,"x":689.9999771118164,"y":83.00000190734863,"wires":[["6af2cf42.6c14e"]]},{"id":"c11cab12.e97d18","type":"meo-esp-in","z":"482fff7a.d6c5d","name":"SERVICE 1","deviceId":"s1","broker":"98636117.d26f4","x":89.9999771118164,"y":343.00000190734863,"wires":[["5b0b2391.162bac"]]},{"id":"548ea094.9c77b","type":"inject","z":"482fff7a.d6c5d","name":"","topic":"","payload":"18020023089","payloadType":"str","repeat":"","crontab":"","once":false,"x":144.9999771118164,"y":280.00000190734863,"wires":[["5b0b2391.162bac"]]},{"id":"5b0b2391.162bac","type":"function","z":"482fff7a.d6c5d","name":"Handle RFID1","func":"msg.payload = {\n    service: 1,\n    rfid: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":279.9999771118164,"y":343.00000190734863,"wires":[["b4166f33.03a9e"]]},{"id":"b4166f33.03a9e","type":"mongodb2 in","z":"482fff7a.d6c5d","service":"_ext_","configNode":"1b297e7b.53db22","name":"Find services","collection":"services","operation":"findOne","x":482.9999656677246,"y":362.9999942779541,"wires":[["c90e754f.4be9e8"]]},{"id":"9b687d4f.a314","type":"meo-esp-in","z":"482fff7a.d6c5d","name":"SERVICE 2","deviceId":"s2","broker":"98636117.d26f4","x":89.9999771118164,"y":403.00000190734863,"wires":[["30b4095d.b88db6"]]},{"id":"30b4095d.b88db6","type":"function","z":"482fff7a.d6c5d","name":"Handle RFID2","func":"msg.payload = {\n    service: 2,\n    rfid: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":279.9999771118164,"y":383.00000190734863,"wires":[["b4166f33.03a9e"]]},{"id":"a369021e.5893d","type":"inject","z":"482fff7a.d6c5d","name":"","topic":"","payload":"TEST RFID2","payloadType":"str","repeat":"","crontab":"","once":false,"x":157.9999771118164,"y":484.00000190734863,"wires":[["30b4095d.b88db6"]]},{"id":"4dcf1c79.dfbcc4","type":"meo-esp-out","z":"482fff7a.d6c5d","name":"Open s1","deviceId":"s1","broker":"14fcbcd8.152183","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":false,"F3":false,"F4":false,"F5":false,"x":954.0001525878906,"y":324.0000686645508,"wires":[]},{"id":"3d04a0e5.3d7bf","type":"meo-esp-out","z":"482fff7a.d6c5d","name":"Open s2","deviceId":"s2","broker":"14fcbcd8.152183","D0":"","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":false,"F2":true,"F3":false,"F4":false,"F5":false,"x":954.0001640319824,"y":402.00011348724365,"wires":[]},{"id":"2dd40c6d.a77824","type":"switch","z":"482fff7a.d6c5d","name":"","property":"payload.service","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":789.1840171813965,"y":360.91321754455566,"wires":[["4dcf1c79.dfbcc4","fe7baa29.78b6a8"],["3d04a0e5.3d7bf"]]},{"id":"c90e754f.4be9e8","type":"function","z":"482fff7a.d6c5d","name":"Control","func":"if (msg.payload.services[0]) {\n    msg.payload = {\n        service: 1\n    }   \n}\n\nif (msg.payload.services[1]) {\n    msg.payload = {\n        service: 2\n    }   \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":656.1874923706055,"y":359.1528549194336,"wires":[["2dd40c6d.a77824"]]},{"id":"ac8adbc1.e48788","type":"debug","z":"482fff7a.d6c5d","name":"","active":true,"console":"false","complete":"false","x":962.1944427490234,"y":203.70837783813477,"wires":[]},{"id":"fe7baa29.78b6a8","type":"function","z":"482fff7a.d6c5d","name":"BUILD LOG","func":"msg.payload = \"ON Service 1\"\nreturn msg;","outputs":1,"noerr":0,"x":861.1874961853027,"y":261.9271049499512,"wires":[["ac8adbc1.e48788"]]},{"id":"98636117.d26f4","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"946546f3.a87d58","type":"ui_group","z":"","name":"RFID","tab":"111a42b.5e970bd","order":1,"disp":true,"width":"6"},{"id":"1b297e7b.53db22","type":"mongodb2","z":"","uri":"mongodb://mongodb:27017/desLight","name":"","options":"","parallelism":"-1"},{"id":"14fcbcd8.152183","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"111a42b.5e970bd","type":"ui_tab","z":"","name":"Add Guest","icon":"dashboard","order":2}] 
