HHH_UIT/NODE_RED_1.txt
 [{"id":"a880d73a.33647","type":"mqtt in","z":"c8b2ec7e.395c","name":"TEMP","topic":"TEMP","qos":"2","broker":"385a5265.4a35b6","x":90,"y":240,"wires":[["31590f34.8d342","eb0e930c.08fa38","d6eb6dee.2701e","95763367.a3696"]]},{"id":"31590f34.8d342","type":"debug","z":"c8b2ec7e.395c","name":"Temperature","active":true,"console":"false","complete":"payload","x":310,"y":200,"wires":[]},{"id":"88cae55a.fa881","type":"mqtt in","z":"c8b2ec7e.395c","name":"HUMI","topic":"HUMI","qos":"2","broker":"adb60b43.d73d58","x":110,"y":360,"wires":[["ff753e46.42717","5947d0fb.e1419","22a6cb29.59f534"]]},{"id":"eb0e930c.08fa38","type":"function","z":"c8b2ec7e.395c","name":"handle temperature","func":"\nif (msg.payload >= 28) {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["8ef5ac2e.2587b8","36fa55b5.cb6122","3705f19a.50ff0e"]]},{"id":"8ef5ac2e.2587b8","type":"debug","z":"c8b2ec7e.395c","name":"Debug turn on LED","active":true,"console":"false","complete":"payload","x":610,"y":120,"wires":[]},{"id":"36fa55b5.cb6122","type":"mqtt out","z":"c8b2ec7e.395c","name":"ALERT","topic":"LED","qos":"","retain":"","broker":"adb60b43.d73d58","x":586.5,"y":178,"wires":[]},{"id":"d6eb6dee.2701e","type":"ui_chart","z":"c8b2ec7e.395c","name":"","group":"615a3b4e.c06a14","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":290,"y":240,"wires":[[],[]]},{"id":"ff753e46.42717","type":"ui_chart","z":"c8b2ec7e.395c","name":"","group":"615a3b4e.c06a14","order":0,"width":0,"height":0,"label":"Humi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":330,"y":360,"wires":[[],[]]},{"id":"87a7ee16.52c9f","type":"ui_text","z":"c8b2ec7e.395c","group":"615a3b4e.c06a14","order":0,"width":0,"height":0,"name":"Alert - high temperature","label":"Alert","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"3705f19a.50ff0e","type":"function","z":"c8b2ec7e.395c","name":"handle alert","func":"if (msg.payload == \"ON\") {\n    msg.payload = \"Nhiet do cao >= 35 do C\"\n} else {\n    msg.payload = \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["87a7ee16.52c9f"]]},{"id":"5947d0fb.e1419","type":"debug","z":"c8b2ec7e.395c","name":"Humidity","active":true,"console":"false","complete":"payload","x":320,"y":420,"wires":[]},{"id":"22a6cb29.59f534","type":"ui_gauge","z":"c8b2ec7e.395c","name":"HUMID","group":"60671f50.3215f","order":0,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":531,"wires":[]},{"id":"95763367.a3696","type":"ui_gauge","z":"c8b2ec7e.395c","name":"TEMPERATURE","group":"60671f50.3215f","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPERATURE","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"385a5265.4a35b6","type":"mqtt-broker","z":"","broker":"192.168.43.61","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"adb60b43.d73d58","type":"mqtt-broker","z":"","broker":"192.168.43.61","port":"1883","clientid":"Test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"615a3b4e.c06a14","type":"ui_group","z":"","name":"chart","tab":"5426ffa9.475698","disp":true,"width":"6"},{"id":"60671f50.3215f","type":"ui_group","z":"","name":"real-time","tab":"5426ffa9.475698","order":2,"disp":true,"width":"6"},{"id":"5426ffa9.475698","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard"}]