Team04_DaiHocCongNgheTp.HCM(HUTECH)/Cau 2/Json_Cau2_Team04_DHCongNgheTp.HCM.json
[{"id":"c8e6c2f1.db19c8","type":"meo-esp-out","z":"87f4287.d38e658","name":"team4 dongcua","deviceId":"137truongchinh","broker":"cd224bab.162aa8","D0":"0","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":820,"y":160,"wires":[]},{"id":"ff8affcd.2908","type":"meo-esp-in","z":"87f4287.d38e658","name":"MEO","deviceId":"137truongchinh","broker":"cd224bab.162aa8","x":270,"y":220,"wires":[[]]},{"id":"34828b27.ed9bac","type":"meo-esp-out","z":"87f4287.d38e658","name":"team4 mocua","deviceId":"137truongchinh","broker":"cd224bab.162aa8","D0":"1","D0pwm":false,"D1":"","D1pwm":false,"D2":"","D2pwm":false,"D3":"","D3pwm":false,"D4":"","D4pwm":false,"F1":true,"F2":false,"F3":false,"F4":false,"F5":false,"x":840,"y":280,"wires":[]},{"id":"5001d89.5b0c228","type":"inject","z":"87f4287.d38e658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":540,"y":160,"wires":[["c8e6c2f1.db19c8"]]},{"id":"df5fcfa.928a0b","type":"inject","z":"87f4287.d38e658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":540,"y":260,"wires":[["34828b27.ed9bac"]]},{"id":"3ec2c683.fe6342","type":"ui_button","z":"87f4287.d38e658","name":"Dong Cua","group":"2e778ae0.311e8e","order":0,"width":0,"height":0,"passthru":false,"label":"Dong Cua","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":530,"y":200,"wires":[["c8e6c2f1.db19c8"]]},{"id":"88359b58.66702","type":"ui_button","z":"87f4287.d38e658","name":"Mo Cua","group":"2e778ae0.311e8e","order":0,"width":0,"height":0,"passthru":false,"label":"Mo Cua","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":520,"y":300,"wires":[["34828b27.ed9bac"]]},{"id":"cd224bab.162aa8","type":"mqtt-broker","z":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e778ae0.311e8e","type":"ui_group","z":"","name":"Cảm biến","tab":"40a31728.2e2d48","order":2,"disp":true,"width":"6"},{"id":"40a31728.2e2d48","type":"ui_tab","z":"","name":"smartHomeStay","icon":"dashboard"}]