TLU_TIM_Thang_Long/part01/nodered/flows.json
[{"id":"d7e39bf7.6c65e","type":"tab","label":"motion_flow"},{"id":"f7991476.caf8f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8960965.f9e778","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":2},{"id":"a25e6c79.6f112","type":"ui_group","name":"Group 1","tab":"e8960965.f9e778","order":1,"disp":true,"width":6},{"id":"6d7f8469.cc26ac","type":"mqtt-broker","z":"","broker":"172.20.10.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f9a0478c.3b048","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2e04c3c2.ec8d04","type":"ui_tab","z":"","name":"Monitor","icon":"show chart","order":1},{"id":"8cc8dc8c.a205e8","type":"ui_group","z":"d7e39bf7.6c65e","name":"sensors_group","tab":"2e04c3c2.ec8d04","order":1,"disp":false,"width":"6"},{"id":"c828589a.d76c98","type":"ui_chart","z":"d7e39bf7.6c65e","name":"","group":"8cc8dc8c.a205e8","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":571.6666259765625,"y":216.6665802001953,"wires":[[],[]]},{"id":"37917733.530eb8","type":"meo-esp-in","z":"d7e39bf7.6c65e","name":"","deviceId":"team11","broker":"6d7f8469.cc26ac","x":144.4444580078125,"y":212.22216796875,"wires":[["5c9a9a71.c67564","e6c55428.9b8ac"]]},{"id":"5c9a9a71.c67564","type":"change","z":"d7e39bf7.6c65e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.V1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":333.888916015625,"y":213.33331298828125,"wires":[["c828589a.d76c98","839c0be5.1f7b6"]]},{"id":"35ef4a1b.1c8b1e","type":"ui_chart","z":"d7e39bf7.6c65e","name":"","group":"8cc8dc8c.a205e8","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":575.5556030273438,"y":346.6666259765625,"wires":[[],[]]},{"id":"e6c55428.9b8ac","type":"change","z":"d7e39bf7.6c65e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.V2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":352.22222900390625,"y":344.44439697265625,"wires":[["35ef4a1b.1c8b1e","295bf537.8efd8a"]]},{"id":"295bf537.8efd8a","type":"debug","z":"d7e39bf7.6c65e","name":"","active":true,"console":"false","complete":"false","x":546.1111111111111,"y":432.22222222222223,"wires":[]},{"id":"839c0be5.1f7b6","type":"debug","z":"d7e39bf7.6c65e","name":"","active":true,"console":"false","complete":"false","x":543.3333740234375,"y":148.88888549804688,"wires":[]}]