ChimCanhCut_UIT/challenge1/flows.json
[{"id":"7db2e559.b4ed54","type":"tab","label":"Flow 1"},{"id":"4d9a2448.0d63a4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"48265c34.502e5c","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":1},{"id":"dc5f5fbb.5f1e9","type":"ui_group","z":"","name":"Dashboard thông tin","tab":"48265c34.502e5c","order":1,"disp":true,"width":"6"},{"id":"bc5959f0.3fcbd","type":"mqtt-broker","z":"","broker":"45.77.245.172","port":"1883","clientid":"stephen-node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d240e67d.13488","type":"telegram bot","z":"","botname":"OLP Demo Bot","usernames":"","chatids":""},{"id":"2136d641.52ba8a","type":"chatbot-telegram-node","z":"","botname":"OLP Demo Bot","usernames":"","polling":"1000","log":""},{"id":"b90fcf66.13d2b","type":"ui_chart","z":"7db2e559.b4ed54","name":"Biểu đồ nhiệt độ","group":"dc5f5fbb.5f1e9","order":0,"width":"0","height":"0","label":"Biểu đồ nhiệt độ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":561.5,"y":386,"wires":[[],[]]},{"id":"7051cfbc.12d52","type":"ui_chart","z":"7db2e559.b4ed54","name":"Biểu đồ độ ẩm","group":"dc5f5fbb.5f1e9","order":0,"width":"0","height":"0","label":"Biểu đồ độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":597,"y":550,"wires":[[],[]]},{"id":"f9079494.89538","type":"mqtt in","z":"7db2e559.b4ed54","name":"","topic":"event-temp","qos":"2","broker":"bc5959f0.3fcbd","x":243.5,"y":304,"wires":[["b90fcf66.13d2b","a0e7963d.b89a2","ad3584da.5b1858","2d62dff8.c37ce"]]},{"id":"aeade058.5958","type":"mqtt in","z":"7db2e559.b4ed54","name":"","topic":"event-humi","qos":"2","broker":"bc5959f0.3fcbd","x":240,"y":408,"wires":[["7051cfbc.12d52","698f937e.70055c","dbd1ef02.7676f8"]]},{"id":"48874a22.bb05c4","type":"telegram sender","z":"7db2e559.b4ed54","name":"","bot":"d240e67d.13488","x":858.5,"y":156,"wires":[[]]},{"id":"a0e7963d.b89a2","type":"function","z":"7db2e559.b4ed54","name":"Check if over 35","func":"var temp = parseInt(msg.payload);\nvar msg1 = {\n    \"payload\": {\n        \"chatId\": 221643908,\n        \"type\": \"message\",\n        \"content\": \"Nóng quá\"\n    }\n}\n\nvar msg2 = {\n    \"payload\": \"hiện tại rất là nóng\"\n}\n\nif (temp > 35)\n{\n    return [msg1, msg2];\n}","outputs":"2","noerr":0,"x":581.5,"y":219,"wires":[["48874a22.bb05c4"],["53f8b022.88fa38"]]},{"id":"53f8b022.88fa38","type":"ui_toast","z":"7db2e559.b4ed54","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":883.5,"y":406,"wires":[]},{"id":"ad3584da.5b1858","type":"debug","z":"7db2e559.b4ed54","name":"debug temp","active":true,"console":"false","complete":"payload","x":549.5,"y":45,"wires":[]},{"id":"698f937e.70055c","type":"debug","z":"7db2e559.b4ed54","name":"debug humi","active":true,"console":"false","complete":"payload","x":557,"y":652,"wires":[]},{"id":"dbd1ef02.7676f8","type":"ui_text","z":"7db2e559.b4ed54","group":"dc5f5fbb.5f1e9","order":0,"width":0,"height":0,"name":"","label":"Độ ẩm","format":"{{msg.payload}}","layout":"row-spread","x":565.5,"y":474,"wires":[]},{"id":"2d62dff8.c37ce","type":"ui_text","z":"7db2e559.b4ed54","group":"dc5f5fbb.5f1e9","order":0,"width":0,"height":0,"name":"","label":"Nhiệt độ","format":"{{msg.payload}}","layout":"row-spread","x":538,"y":327,"wires":[]}]