bkcloud_DHBKHN/part02/node-red/data/flows.json
[{"id":"def62471.9bdde8","type":"tab","label":"Flow 1"},{"id":"2c0fbc74.b04044","type":"tab","label":"cong-flow","disabled":false,"info":""},{"id":"a0955585.20e3b8","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"99fcb0d.142575","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"1c08b279.9ff14e","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"93d84f1c.0cae4","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7ed4215e.2f099","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"2029b391.8c25ac","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"bb2529cb.aa0848","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"83e7e7d1.e46e58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65c1e55.9dd9e1c","type":"mqtt-broker","z":"","broker":"server.tobernguyen.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f179ddae.082c9","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"iot","tz":""},{"id":"3d884f95.1da73","type":"influxdb-server","z":"","host":"influxdb","port":"8086","database":"iot"},{"id":"abc9e63e.e25988","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9aad3766.9e1308","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fd0dbbad.5b78e8","type":"http in","z":"def62471.9bdde8","name":"","url":"device/api/info","method":"get","upload":false,"swaggerDoc":"","x":112,"y":154,"wires":[["f61050bc.52332"]]},{"id":"3a58e553.67d2da","type":"function","z":"def62471.9bdde8","name":"get sensor info","func":"msg.query = \"select * from sensor;\";\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":313,"wires":[["ba84e7fc.5c01e8"]]},{"id":"22c505d7.3d684a","type":"http in","z":"def62471.9bdde8","name":"","url":"sensor/api/info","method":"get","upload":false,"swaggerDoc":"","x":103,"y":271,"wires":[["3a58e553.67d2da"]]},{"id":"2387a57b.ba18ba","type":"function","z":"def62471.9bdde8","name":"format response","func":"let payload = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let sensor = msg.payload[i];\n    payload.push({\n        macAddr: sensor.macAddr, \n        sensorID: sensor.name, \n\t\tsensorStatus: sensor.status, \n\t\tcreatedAt: sensor.created_at\n    })\n}\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":716,"y":297,"wires":[["5ad188a5.8b9f48"]]},{"id":"5ad188a5.8b9f48","type":"http response","z":"def62471.9bdde8","name":"","statusCode":"","headers":{},"x":1104,"y":361,"wires":[]},{"id":"478c6e52.2981a","type":"http in","z":"def62471.9bdde8","name":"","url":"device/api/logs","method":"get","upload":false,"swaggerDoc":"","x":95,"y":450,"wires":[["48f11f31.d294c"]]},{"id":"48f11f31.d294c","type":"function","z":"def62471.9bdde8","name":"create query device logs ","func":"let macAddr = msg.payload.macAddr;\nmsg.payload.query = \"select time,deviceStatus from devices_and_sensors where macAddr='\" + macAddr + \"' and isDevice=True;\";\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":457,"wires":[["23ea969e.c8d64a"]]},{"id":"76a92928.6906c8","type":"http in","z":"def62471.9bdde8","name":"","url":"sensor/api/logs","method":"get","upload":false,"swaggerDoc":"","x":95,"y":550,"wires":[["3753f80f.f0d738"]]},{"id":"3753f80f.f0d738","type":"function","z":"def62471.9bdde8","name":"create query sensor logs ","func":"let sensorID = msg.payload.sensorID;\nmsg.payload.query = \"select time,sensorStatus from devices_and_sensors where sensorID='\" + sensorID + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":558,"wires":[["95f2c646.917c68"]]},{"id":"395446f1.ccfcfa","type":"http in","z":"def62471.9bdde8","name":"","url":"/realtime-chart/api/device/initData","method":"get","upload":false,"swaggerDoc":"","x":155,"y":652,"wires":[["a6da0001.cd995"]]},{"id":"562ecab6.9dafd4","type":"function","z":"def62471.9bdde8","name":"add query init data","func":"msg.sensors = msg.payload;\n\nlet macAddr = msg.macAddr;\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where macAddr='\" + \n    macAddr + \"' and \" + \n    \"time >= \"+ startTime + \" and \" + \n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":564,"y":708,"wires":[["70bf7a9.e5fd584"]]},{"id":"d783d3f0.a1f7f","type":"function","z":"def62471.9bdde8","name":"format init data response","func":"var units_range = {\n    c: {min: 1, max: 100},\n    lux: {min: 1, max: 100},\n    humi: {min: 1, max: 65535}\n};\n\nvar groupLineChart = [\n    {unit: \"\", lines: []},\n    {unit: \"Lux\", lines: []}\n]\n\nfor(let i = 0;i<msg.sensors.length;i++){\n    msg.sensors[i].timeSeriesData = [];\n    msg.sensors[i].sensorID = msg.sensors[i].name;\n}\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j = 0; j < msg.sensors.length; j++) {\n        if (msg.payload[i].name === msg.sensors[j].name) {\n            msg.sensors[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            break;\n        }\n    }\n    // if (is_new_sensor) {\n    //     let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].sensorID,\n    //         msg.payload[i].unit);\n    //     new_sensor.timeSeriesData.push({\n    //         time: msg.payload[i].time,\n    //         value: msg.payload[i].value\n    //     })\n    //     initSensorsData.push(new_sensor);\n    // }\n}\n\nfor (let i = 0; i < msg.sensors.length; i++) {\n    if (msg.sensors[i].unit.toLowerCase() === 'c' ||\n        msg.sensors[i].unit.toLowerCase() === '%') {\n        groupLineChart[0].lines.push(msg.sensors[i]);\n        groupLineChart[0].unit += \" / \" + msg.sensors[i].unit;\n    }\n    if (msg.sensors[i].unit.toLowerCase() === 'lux') {\n        groupLineChart[1].lines.push(msg.sensors[i]);\n    }\n}\n\ngroupLineChart[0].unit = groupLineChart[0].unit.slice(3, groupLineChart[0].unit.length);\n\nmsg.payload = groupLineChart;\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":698,"wires":[["5ad188a5.8b9f48"]]},{"id":"bf89306.e8078d","type":"http in","z":"def62471.9bdde8","name":"","url":"dashboard","method":"get","upload":false,"swaggerDoc":"","x":181,"y":82,"wires":[["4e71eefe.124d3"]]},{"id":"d0a1f0b5.57f","type":"http in","z":"def62471.9bdde8","name":"","url":"/realtime-chart/api/sensor/latestData","method":"get","upload":false,"swaggerDoc":"","x":165,"y":817,"wires":[["ad9a41a5.ebefd"]]},{"id":"ad9a41a5.ebefd","type":"function","z":"def62471.9bdde8","name":"add query latest data","func":"msg.macAddr = msg.payload.macAddr;\n\nmsg.arrSensorID = msg.payload.sensorIDs.split(',');\nlet sensor_query = \"\";\nfor(let i = 0;i<msg.arrSensorID.length;i++){\n    if(msg.arrSensorID[i]){\n        sensor_query += \"or \\\"name\\\" = '\" + msg.arrSensorID[i] + \"' \";\n    }\n}\n\nsensor_query = sensor_query.slice(2, sensor_query.length);\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    sensor_query + \" and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":893,"wires":[["c33fca1e.57f908"]]},{"id":"7c95b6b3.bf7718","type":"function","z":"def62471.9bdde8","name":"format latest data response","func":"var initSensorsData = [];\nvar Sensor = function (macAddr, sensorID) {\n    this.macAddr = macAddr;\n    this.sensorID = sensorID;\n    // this.unit = unit;\n    this.timeSeriesData = [] // {\"time\": \"\", \"value\": };\n}\n\nfor (let i=0;i<msg.payload.length;i++) {\n    // msg.payload[i].sensorID= msg.payload[i].sensorID.split('-')[1];\n    let is_new_sensor = true;\n    for (let j=0;j<initSensorsData.length;j++) {\n        if (msg.payload[i].name === initSensorsData[j].sensorID) {\n            initSensorsData[j].timeSeriesData.push({\n                time: msg.payload[i].time,\n                value: msg.payload[i].value\n            })\n            is_new_sensor = false;\n            break;\n        }\n    }\n    if (is_new_sensor) {\n        let new_sensor = new Sensor(msg.payload[i].macAddr, msg.payload[i].name);\n        new_sensor.timeSeriesData.push({\n            time: msg.payload[i].time,\n            value: msg.payload[i].value\n        })\n        initSensorsData.push(new_sensor);\n    }\n}\nmsg.payload = initSensorsData;\nreturn msg;","outputs":1,"noerr":0,"x":744,"y":853,"wires":[["5ad188a5.8b9f48"]]},{"id":"4e71eefe.124d3","type":"dashboard","z":"def62471.9bdde8","name":"","x":416,"y":88,"wires":[["5ad188a5.8b9f48"]]},{"id":"f61050bc.52332","type":"function","z":"def62471.9bdde8","name":"get device info","func":"msg.query = \"select * from device;\";\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":178,"wires":[["64c26d35.da09e4"]]},{"id":"9ccdafff.0f966","type":"debug","z":"def62471.9bdde8","name":"","active":true,"console":"false","complete":"false","x":649,"y":262,"wires":[]},{"id":"a6da0001.cd995","type":"function","z":"def62471.9bdde8","name":"get device's sensor ","func":"msg.macAddr = msg.payload.macAddr;\nmsg.query = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":718,"wires":[["67681be7.adcee4"]]},{"id":"64c26d35.da09e4","type":"mysql-query","z":"def62471.9bdde8","mydb":"a0955585.20e3b8","name":"","queryString":"","outputTo":"payload","x":561,"y":180,"wires":[["5ad188a5.8b9f48"]]},{"id":"ba84e7fc.5c01e8","type":"mysql-query","z":"def62471.9bdde8","mydb":"a0955585.20e3b8","name":"","queryString":"","outputTo":"payload","x":499,"y":355,"wires":[["9ccdafff.0f966","5ad188a5.8b9f48"]]},{"id":"67681be7.adcee4","type":"mysql-query","z":"def62471.9bdde8","mydb":"a0955585.20e3b8","name":"","queryString":"","outputTo":"payload","x":453,"y":644,"wires":[["562ecab6.9dafd4"]]},{"id":"2484b2f5.14a31e","type":"http response","z":"def62471.9bdde8","name":"","statusCode":"","headers":{},"x":983,"y":1111,"wires":[]},{"id":"2e206797.4bddd8","type":"http in","z":"def62471.9bdde8","name":"","url":"sensor/api/count","method":"get","upload":false,"swaggerDoc":"","x":135,"y":986,"wires":[["f2f1dec2.9e7f8"]]},{"id":"f2f1dec2.9e7f8","type":"mysql-query","z":"def62471.9bdde8","mydb":"a0955585.20e3b8","name":"","queryString":"select count(*) as count from sensor;","outputTo":"payload","x":391,"y":985,"wires":[["998cc19d.3ce2e"]]},{"id":"998cc19d.3ce2e","type":"function","z":"def62471.9bdde8","name":"format data response","func":"msg.payload = msg.payload[0].count;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":984,"wires":[["2484b2f5.14a31e"]]},{"id":"7638b68f.ad6558","type":"http in","z":"def62471.9bdde8","name":"","url":"/latestUnitData","method":"get","upload":false,"swaggerDoc":"","x":133,"y":1080,"wires":[["74ed3d09.44b384"]]},{"id":"74ed3d09.44b384","type":"function","z":"def62471.9bdde8","name":"generate query","func":"let unit = msg.payload.unit;\nlet location_id = msg.payload.location_id;\nmsg.payload.query = \"select last(value) as latestValue from data where \\\"unit\\\"='\" + unit + \"' and \\\"location_id\\\" = '\" + location_id + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":1078,"wires":[["d08ba49f.112f98"]]},{"id":"d08ba49f.112f98","type":"influxdb-query","z":"def62471.9bdde8","name":"query latest data unit","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":635,"y":1075,"wires":[["2484b2f5.14a31e"]]},{"id":"ce185963.02a458","type":"influxdb-query","z":"def62471.9bdde8","name":"query avareage temperature","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":541,"y":1221,"wires":[["d23c2d8d.b3e5c"]]},{"id":"5f3d7b48.be4354","type":"function","z":"def62471.9bdde8","name":"generate query for 7 day left","func":"let query = \"\";\nlet location_id = msg.payload.location_id;\n// select mean(value) from data where \"unit\"='C' and time > now() - 5m and time < now() - 2m;\nlet range = 10; // minute\nlet now = Date.now() * Math.pow(10,6);\nlet column = 7; \nfor(let i = column;i>0;i--){\n    query += \"select mean(value) as value from data where \\\"unit\\\"='C' \" + \n\t\t\t \"and time > \" + now + \" - \" + range * i + \"s and time < \" + now + \" - \" + range * (i - 1) + \"s and \\\"location_id\\\"='\" + location_id + \"';\"\n}\nmsg.payload = {};\nmsg.payload.query = query;\n\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":1168,"wires":[["ce185963.02a458","e0a74348.fa4b1"]]},{"id":"d23c2d8d.b3e5c","type":"function","z":"def62471.9bdde8","name":"format data response","func":"let result = [];\nfor(let i = 0;i<msg.payload.length;i++){\n    let data = msg.payload[i][0];\n    result.push(data);\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":1166,"wires":[["2484b2f5.14a31e"]]},{"id":"4d8356dc.e2fa78","type":"http in","z":"def62471.9bdde8","name":"","url":"temperatureAvarage","method":"get","upload":false,"swaggerDoc":"","x":128,"y":1224,"wires":[["5f3d7b48.be4354"]]},{"id":"70bf7a9.e5fd584","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":696,"y":639,"wires":[["d783d3f0.a1f7f"]]},{"id":"95f2c646.917c68","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":773,"y":564,"wires":[["5ad188a5.8b9f48"]]},{"id":"23ea969e.c8d64a","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":764,"y":463,"wires":[["5ad188a5.8b9f48"]]},{"id":"c33fca1e.57f908","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":514,"y":829,"wires":[["7c95b6b3.bf7718"]]},{"id":"8b42ce2e.55596","type":"http in","z":"def62471.9bdde8","name":"","url":"actionToThings","method":"post","upload":false,"swaggerDoc":"","x":145,"y":1324,"wires":[["feab224f.abddd"]]},{"id":"70322ed2.ccc4a","type":"http response","z":"def62471.9bdde8","name":"","statusCode":"","headers":{},"x":594,"y":1339,"wires":[]},{"id":"feab224f.abddd","type":"function","z":"def62471.9bdde8","name":"convert message","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1323,"wires":[["70322ed2.ccc4a","90ceb800.5bd878"]]},{"id":"90ceb800.5bd878","type":"mqtt out","z":"def62471.9bdde8","name":"","topic":"","qos":"","retain":"","broker":"1c08b279.9ff14e","x":592,"y":1415,"wires":[]},{"id":"5ae55675.ad2698","type":"http in","z":"def62471.9bdde8","name":"","url":"/device/sensors","method":"get","upload":false,"swaggerDoc":"","x":131,"y":1499,"wires":[["6ea5bf54.11708"]]},{"id":"6ea5bf54.11708","type":"function","z":"def62471.9bdde8","name":"get device's sensors","func":"msg.macAddr = msg.payload.macAddr;\nmsg.query = \"select * from sensor where macAddr='\" + msg.macAddr + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":1500,"wires":[["12c2e3bc.24e76c"]]},{"id":"6295ed1d.371704","type":"http response","z":"def62471.9bdde8","name":"","statusCode":"","headers":{},"x":797,"y":1507,"wires":[]},{"id":"12c2e3bc.24e76c","type":"mysql-query","z":"def62471.9bdde8","mydb":"a0955585.20e3b8","name":"","queryString":"","outputTo":"payload","x":597,"y":1487,"wires":[["6295ed1d.371704"]]},{"id":"12ae2b07.d3ffd5","type":"debug","z":"def62471.9bdde8","name":"","active":true,"console":"false","complete":"true","x":448,"y":1815,"wires":[]},{"id":"45de2bd2.e9aaa4","type":"inject","z":"def62471.9bdde8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":1785,"wires":[[]]},{"id":"45832c31.3a99d4","type":"http in","z":"def62471.9bdde8","name":"","url":"sensor/chart/initData","method":"get","upload":false,"swaggerDoc":"","x":162,"y":1591,"wires":[["b51caf0e.3a5c2"]]},{"id":"7f60bcf8.5a9064","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":685,"y":1608,"wires":[["6295ed1d.371704"]]},{"id":"b51caf0e.3a5c2","type":"function","z":"def62471.9bdde8","name":"add query init data","func":"msg.macAddr = msg.payload.macAddr;\nmsg.sensorName = msg.payload.sensorName;\n\nlet endTime = Date.now();\nlet startTime = endTime - 60*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    \"\\\"name\\\" = '\" + msg.sensorName + \"' and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nmsg.query = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":1588,"wires":[["7f60bcf8.5a9064"]]},{"id":"d198d147.0bce9","type":"http in","z":"def62471.9bdde8","name":"","url":"sensor/chart/latestData","method":"get","upload":false,"swaggerDoc":"","x":157,"y":1679,"wires":[["d3e669de.b61378"]]},{"id":"d3e669de.b61378","type":"function","z":"def62471.9bdde8","name":"add query init data","func":"msg.macAddr = msg.payload.macAddr;\nmsg.sensorName = msg.payload.sensorName;\n\nlet endTime = Date.now();\nlet startTime = endTime - 5*1000;\nstartTime = startTime*Math.pow(10,6),\nendTime = endTime*Math.pow(10,6)\n\nmsg.payload.query = \"select * from data where \" +\n    \"\\\"name\\\" = '\" + msg.sensorName + \"' and \" +\n    \"\\\"macAddr\\\" = '\" + msg.macAddr + \"' and \" +\n    \"time >= \"+ startTime + \" and \" +\n    \"time <= \" + endTime;\nmsg.query = msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":419,"y":1717,"wires":[["f693026e.4a32d"]]},{"id":"f693026e.4a32d","type":"influxdb-query","z":"def62471.9bdde8","name":"","influxdbServer":"99fcb0d.142575","queryString":"","outputTo":"payload","x":688,"y":1737,"wires":[["6295ed1d.371704"]]},{"id":"605257b1.96b9b8","type":"mqtt in","z":"2c0fbc74.b04044","name":"","topic":"esp/newDevice","qos":"2","broker":"65c1e55.9dd9e1c","x":103,"y":282.95001220703125,"wires":[["7fefbe34.32d11"]]},{"id":"6c602130.a642f","type":"inject","z":"2c0fbc74.b04044","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":130,"y":60,"wires":[["ac0ac936.f9c2a8"]]},{"id":"ac0ac936.f9c2a8","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"check table exist","queryString":"SHOW TABLES LIKE 'device';\nSHOW TABLES LIKE 'sensor';\n","outputTo":"queryResult","x":368.8833312988281,"y":53.883331298828125,"wires":[["e34c0f36.1f832"]]},{"id":"e34c0f36.1f832","type":"function","z":"2c0fbc74.b04044","name":"send init tbl command","func":"var tbl_exist = 0;\nfor (let i=0;i<2;i++){\n    if(msg.queryResult[i].length>=1){\n        tbl_exist+=1;\n    }\n}\nif(tbl_exist<2){\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":598.8833312988281,"y":53.883331298828125,"wires":[["7c97445f.9d424c"]]},{"id":"7c97445f.9d424c","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"init tables if not exist","queryString":"CREATE TABLE device (\nlocation_id \tVARCHAR(255) \tNOT NULL,\nlocation_name   VARCHAR(255) \tNOT NULL,\ndevice_id \tVARCHAR(255) \tNOT NULL,\ntype\t\tVARCHAR(255) \tNOT NULL,\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME \tNOT NULL,\nPRIMARY KEY (location_id)\n);\n\n\nCREATE TABLE sensor (\nname \t\tVARCHAR(255)\tNOT NULL,\nlocation_id \tVARCHAR(255) \tNOT NULL,\nunit \t\tVARCHAR(255),\nstatus \t\tVARCHAR(255) \tNOT NULL,\ncreated_at \tDATETIME\tNOT NULL,\nPRIMARY KEY (name, location_id),\nCONSTRAINT fk_device FOREIGN KEY (location_id) REFERENCES device(location_id) ON DELETE CASCADE\n);\n","outputTo":"queryResult","x":838.88330078125,"y":51.883331298828125,"wires":[[]]},{"id":"7fefbe34.32d11","type":"function","z":"2c0fbc74.b04044","name":"parse payload msg","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":162,"wires":[["6ba9c8a0.8a12f8"]]},{"id":"c841aa6f.1406d8","type":"function","z":"2c0fbc74.b04044","name":"add device if not exist","func":"var moment = global.get('moment');\nif (msg.deviceQueryResult.length === 0) {\n    // prepare add board query\n    var addBoardQuery = 'INSERT INTO device VALUES(?,?,?,?,?,?)';\n    var bindQuery = [\n        msg.payload.location_id,\n        msg.payload.location_name,\n        msg.payload.deviceID,\n        msg.payload.type,\n        'ONLINE',\n        moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\"),\n    ];\n    var addNewBoardMsg = {\n        payload:msg.payload,\n        query:addBoardQuery,\n        bindQuery:bindQuery\n    };\n    return [addNewBoardMsg, null];\n    // add board device    \n} else {\n    // do nothing    \n    return [null, msg];\n}","outputs":"2","noerr":0,"x":600,"y":280,"wires":[["a6c4e60a.368f68"],["97acd4d4.587ca8"]]},{"id":"af90b50e.946d98","type":"mqtt out","z":"2c0fbc74.b04044","name":"","topic":"","qos":"","retain":"","broker":"65c1e55.9dd9e1c","x":1670,"y":280,"wires":[]},{"id":"cd5b6fba.bfa1f","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"check device","queryString":"","outputTo":"deviceQueryResult","x":444.75,"y":160.75,"wires":[["c841aa6f.1406d8"]]},{"id":"6ba9c8a0.8a12f8","type":"function","z":"2c0fbc74.b04044","name":"check device exist","func":"// authenticate msg format\nlet query ='select * from device where location_id = ?';\n// console.log(msg.payload.mac_addr);\nlet bindQuery = [ msg.payload.location_id,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":350,"y":280,"wires":[["cd5b6fba.bfa1f"]]},{"id":"a6c4e60a.368f68","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"add board","queryString":"","outputTo":"queryResult","x":698.75,"y":158.75,"wires":[["97acd4d4.587ca8"]]},{"id":"d3295129.ea9c8","type":"function","z":"2c0fbc74.b04044","name":"add sensors if not exists","func":"var moment = global.get('moment');\nfunction checkSensorExist(checkSensor, currentSensors) {\n    var isExist = false;\n    for (var i = 0; i < currentSensors.length; i++) {\n        if (checkSensor.name == currentSensors[i].name) {\n            isExist = true;\n            break;\n        }\n    }\n    return isExist;\n}\n\nfunction createQueryaddNewSensors(newSensors, location_id) {\n    var addSensorsQuery = '';\n    var bindQuery = [];\n    for (var i = 0; i < newSensors.length; i++) {\n        var newSensor = newSensors[i];\n        addSensorsQuery += 'INSERT INTO sensor VALUES (?, ?, ?,?,?); ';\n        bindQuery.push(\n            newSensor.name,\n            location_id,\n            newSensor.unit, \n            'ONLINE',\n            moment(new Date()).format(\"YYYY-MM-DD HH:mm:ss\")\n            );\n    }\n    return {\n        query: addSensorsQuery,\n        bindQuery: bindQuery\n    };\n}\n\nvar currentSensors = msg.sensorsQueryResult;\nvar deviceSensors = msg.payload.sensors;\nvar location_id = msg.payload.location_id;\nvar newSensors = [];\nfor (var i = 0; i < deviceSensors.length; i++) {\n    checkDeviceSensor = deviceSensors[i];\n    if (checkSensorExist(checkDeviceSensor, currentSensors) === false) {\n        newSensors.push(checkDeviceSensor);\n    }\n}\n\nif (newSensors.length > 0) {\n    var addNewSensorsQuery = createQueryaddNewSensors(newSensors, location_id);\n    var newMsg = {\n        query:addNewSensorsQuery.query,\n        bindQuery:addNewSensorsQuery.bindQuery,\n        payload: msg.payload\n    };\n    return [newMsg, null];\n} else {\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":1170,"y":280,"wires":[["f117b952.4d99f8"],["ee1dd08d.9db29"]]},{"id":"f117b952.4d99f8","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"add sensor","queryString":"","outputTo":"addSensorResult","x":1347.75,"y":144.75,"wires":[["ee1dd08d.9db29"]]},{"id":"ac944edc.f8c66","type":"mysql-query","z":"2c0fbc74.b04044","mydb":"f179ddae.082c9","name":"get sensors Info","queryString":"","outputTo":"sensorsQueryResult","x":954.75,"y":156.75,"wires":[["d3295129.ea9c8"]]},{"id":"ee1dd08d.9db29","type":"function","z":"2c0fbc74.b04044","name":"send authenticated message","func":"var location_id = msg.payload.location_id;\n\nvar authenticatedMsg ={\n    type:'register',\n    status:'OK'\n}\nvar sendAuthenticatedMsg ={\n    topic:'esp/'+location_id+'/action',\n    payload:authenticatedMsg\n}\nreturn sendAuthenticatedMsg;","outputs":1,"noerr":0,"x":1460,"y":280,"wires":[["af90b50e.946d98"]]},{"id":"97acd4d4.587ca8","type":"function","z":"2c0fbc74.b04044","name":"get current device sensors","func":"// authenticate msg format\nlet query ='select * from sensor where location_id = ?';\nlet bindQuery = [ msg.payload.location_id,];\nmsg.query = query;\nmsg.bindQuery = bindQuery;\nreturn msg;","outputs":"1","noerr":0,"x":880,"y":280,"wires":[["ac944edc.f8c66"]]},{"id":"51e57157.6f9e6","type":"mqtt in","z":"2c0fbc74.b04044","name":"","topic":"esp/data","qos":"2","broker":"65c1e55.9dd9e1c","x":65,"y":373,"wires":[["b69fe03e.d5b0f"]]},{"id":"ac80dfe8.16ec","type":"influxdb-write-data","z":"2c0fbc74.b04044","name":"add time serie data","influxdbServer":"3d884f95.1da73","dataInput":"serieDataList","measurement":"data","outputTo":"writeDataResult","x":690,"y":400,"wires":[[]]},{"id":"82718c8b.ed7e4","type":"function","z":"2c0fbc74.b04044","name":"write serie data to influxdb","func":"//\tC: [1, 100]; \t%: [0, 100],\tlux: [1, 65535]\nlet location_id = msg.payload.location_id;\nlet sensorData = msg.payload.sensorsData;\nlet serieDataList=[];\nfor (var i = 0; i < sensorData.length; i++) {\n    let checkSensorData = sensorData[i];\n    serieDataList.push({\n        tags: {\n            'location_id': location_id,\n            'name': checkSensorData.name,\n        },\n        fields: {\n            'unit': checkSensorData.unit,\n            'value': checkSensorData.value\n        },\n        time_stamp: msg.receivedTime.getTime() * Math.pow(10, 6)\n    });\n}\nlet sendMsg = msg;\nif (serieDataList.length > 0) {\n    sendMsg.serieDataList = serieDataList;\n    node.send(sendMsg);\n}\n","outputs":"1","noerr":0,"x":470,"y":400,"wires":[["ac80dfe8.16ec"]]},{"id":"b69fe03e.d5b0f","type":"function","z":"2c0fbc74.b04044","name":"parse payload ","func":"msg.payload = JSON.parse(msg.payload);\nmsg.receivedTime = new Date();\nlet msgType =  msg.payload.type;\n\nif(msgType=='data'){ // forward msg to process data message flow\n    node.send(msg);\n}","outputs":"1","noerr":0,"x":240,"y":400,"wires":[["82718c8b.ed7e4","6389f966.3f7d68"]],"outputLabels":["flow process data message"]},{"id":"e0a74348.fa4b1","type":"debug","z":"def62471.9bdde8","name":"","active":true,"console":"false","complete":"true","x":539,"y":1154,"wires":[]},{"id":"6389f966.3f7d68","type":"debug","z":"2c0fbc74.b04044","name":"","active":true,"console":"false","complete":"false","x":353,"y":479,"wires":[]}]